<app-navbar></app-navbar>

<app-common-header heading="Want to sell a house fast?" subheading="We make selling your house fast and easy.">
</app-common-header>

<section class="first-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-12">
        <h2 class="mb-4">#IBuyUglyHouses Home Buyer® is all about speed and simplicity.</h2>

        <p>There’s lots of reasons for why you need (or just want) to sell your house fast. It could be a job
          relocation. There might be structural issues you don’t want to deal with. Or you’ve got an inherited house
          that’s too far away to manage and you just don’t want to deal with it.</p>

        <p>IBuyUglyHouses is the perfect solution for homeowners looking for a quick and easy way to sell their house and
          get cash in their hand. We buy houses "as is" for cash, which means we save our customers a ton of time in
          property repairs, realtor meetings, house showings, waiting for "house selling season," etc. We also cover
          typical closing costs and there are no listing fees. And we’re just a simple click or call away.</p>
        <p>Whether you contact us over the phone or online, it all starts with a very simple, free in-home consultation.
          From there, we can make you an honest and fair cash offer to purchase your house. If you choose to accept our
          offer, we’ll be with you every step of the sale. You’ll have cash in your hand in no time.</p>

        <!-- <div class="mt-4 text-center">
          <iframe class="responsive-iframe" src="https://www.youtube-nocookie.com/embed/Erk_LtvFSRc?controls=0"
            title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
            <p class="mt-4"><i>Susan from Phoenix Sonoran Living on ABC15 interviews Ryan Chenoweth of IBuyUglyHouses. They discuss
              exactly what IBuyUglyHouses does, how they pay closing costs, and make fair cash offers, even in these
              uncertain times.</i>
          </p>
        </div> -->
      </div>
    </div>
  </div>
</section>

<app-reviews-carousal></app-reviews-carousal>

<section class="third-section bg-light">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-12">
        <h2 class="mb-4">We hear "I want to sell my house fast" everyday... and we're here to help!</h2>

        <p>In real estate, things can move at a snail’s pace. When you want or need to sell quickly, using traditional
          methods can be frustrating. That’s why we buy any house fast.</p>
        <p>It can take weeks to get your house listed through traditional channels. First you have to find a Realtor,
          sign with them, clean and prep the house, schedule a photos shoot…all just to get it listed. Then the waiting
          game begins.</p>
        <p>Houses can sit on the market for months or years before getting a valid offer. In the meantime, you’re stuck
          paying the mortgage, utilities and home insurance on a vacant house. Or, you’re arranging your life around
          your realtor’s showing schedule and always having to keep the house "showing ready."</p>
      </div>
    </div>
  </div>
</section>




<section class="fourth-section">
  <div class="container">
    <div class="row align-items-center justify-content-center">
      <div class="col-lg-9 col-md-7 col-12  order-lg-2 order-md-2 order-1">
        <h2 class="mb-4">Getting started is easy.</h2>
        <p><a href="selling-your-house" target="_blank">Selling my house is easy</a>. So is getting started. All you
          have to do is enter your address at the top of the
          page or call <a href="tel:18889869883">1 (888) 986-9883</a> and your local property specialist will contact
          you shortly.</p>
        <p class="fw-bold">Remember: There’s no pressure and no obligation to accept our offer.</p>
        <p class="pb-5 fw-bold">We can simply make you an offer to buy your house for cash that you’re free to accept or
          keep looking. It’s
          that simple.</p>
      </div>
      <div
        class="col-lg-3 col-md-5 col-12 justify-content-center align-items-center text-center d-none d-md-block order-lg-1 order-md-1 order-2">
        <img src="../../../assets/images/home/seventh-section/HVA-Red-Shirt-Female-Agent-400x431px.png" width="100%"
          alt="">
      </div>
    </div>
  </div>
</section>


<section class="fifth-section bg-light">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-12">
        <h2 class="mb-4">We can close on your house in as little as 3 weeks.</h2>

        <p>That’s all it takes. We’ll visit your house for a free, no-obligation consultation, where our knowledgeable,
          property specialist can make you a fair offer.
        </p>
        <p>You can choose to accept our offer or keep looking. There’s no pressure. There never is, when you call
          IBuyUglyHouses.</p>
        <p>If you accept the offer, we can move quickly. We understand that time is important to you, and that you want
          to sell your house fast, with as few hassles as possible. That’s why we make cash offers. What we mean by we
          buy any house fast, is that you can sell your house "as is" with no cleanup or repairs. At closing, we take
          care of all typical closing costs.</p>
        <p>In many cases, we can close in as little as 3 weeks or on your timeline (or longer, if that’s your timeline).
        </p>
      </div>
    </div>
  </div>
</section>


<section class="sixth-section">
  <div class="container">
    <div class="row g-4">
      <div class="col-lg-2 col-12">
        <img src="../../../assets/images/why-sell-to-us/experience-and-trust/quote.svg" width="100%" alt="">
      </div>
      <div class="col-lg-10 col-12">
        <h3 class="mb-4">Selling my lifelong home could have been difficult, but IBuyUglyHouses made it very easy. The fair
          evaluation was confirmed to me by one of the area’s leading home sellers. The sale of my home was fair and
          smooth.</h3>
        <h5>- Eric U., Sussex, WI</h5>
      </div>
    </div>
  </div>
</section>


<section class="seventh-section bg-light">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-12">
        <h2 class="mb-4">Want to know more about what makes IBuyUglyHouses stand out from the crowd?</h2>

        <p>Read about our <a href="selling-your-house/experience-and-trust" target="_blank">experience</a>,<a
            href="selling-your-house/personal-touch" target="_blank">personal touch</a>, and
          <a href="how-does-it-work" target="_blank">how we do what we do</a>. Want more proof? Read <a href="reviews"
            target="_blank"> testimonials</a> from satisfied customers across the Canada.</p>

        <p>If you still have questions, we may have the answers you are looking for in our <a
            href="faqs" target="_blank"> FAQs</a> section. Or, feel free to <a
            href="contact-us" target="_blank">contact us.</a></p>
      </div>
    </div>
  </div>
</section>

<app-footer></app-footer>
