<app-navbar></app-navbar>
<section class="common-header">
  <div class="container">
    <div class="row vh-50 d-flex justify-content-left align-items-center ">
      <div class="col-lg-12">
        <h1 class="fw-bold">Who we are: I Buy Ugly Houses®</h1>
        <h4 class="fw-bold">We’re dedicated to bringing relief to homeowners with our fast cash offers for their houses
          “as is.”</h4>

      </div>
    </div>
  </div>
</section>
<section class="how-it-works">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-8 col-12">
        <div>
          <h4>Our WHY</h4>
          <p>We understand that the traditional real estate market doesn’t fit everyone’s needs or timeline. It tends to
            alienate sellers with homes that need repairs or updates, and not everyone can wait with their house on the
            market for months at a time.</p>
          <p>As a trailblazer in the cash home-buying industry, we want to help solve sellers’ problems with a fast and
            easy way to sell their houses without the typical hassles and stress. We strive to give our customers a
            different experience by putting the seller first, not the transaction.</p>
        </div>

        <div>
          <h4>I Buy Ugly Houses's history</h4>
          <p>We understand that the traditional real estate market doesn’t fit everyone’s needs or timeline. It tends to
            alienate sellers with homes that need repairs or updates, and not everyone can wait with their house on the
            market for months at a time.


          <p> As a trailblazer in the cash home-buying industry, we want to help solve sellers’ problems with a fast and
            easy way to sell their houses without the typical hassles and stress. We strive to give our customers a
            different experience by putting the seller first, not the transaction.
          </p>
        </div>

        <div>
          <h4>Our commitment</h4>
          <p>IBuyUglyHouses® takes a personalised approach to buying and isn’t your average home-buying company.
            We buy houses fast for cash and ensure that the customer understands the process every step of the way. We
            aren’t like other cash buyers who focus on doing business only online. We visit each house in person to get
            to know our customers and their houses before we give a free, fair cash offer. We’re cash home buyers who
            prefer to show up in person to answer questions and walk sellers through the process.</p>
          <p> We like to hear what our customers' needs are so that we can help solve their problems. Maybe they just
            got a new job and need to move quickly, maybe they need a bigger house because their parent is moving in, or
            maybe they inherited a house they can’t keep. Whatever the situation is, we strive to navigate it step by
            step with the seller.</p>
        </div>

        <section class="statement-highlight module">
          <div class="row">
            <div class="column text-center">
              <div class="statement-highlight-inner">

                <div class="row justify-content-center align-items-center">
                  <a class="btn btn-danger" href="contact-us">Contact Us Today</a>
                </div>
                <p></p>
              </div>
            </div>
          </div>
        </section>

        <div>
          <h4>
            Why we do what we do
          </h4>
          <p>I Buy Ugly Houses® was created to offer ease for home sellers when they feel that the traditional method
            isn’t the best fit for their needs—we believe different situations call for different solutions.</p>
          <p>With us, you can speak directly to an interested buyer in no time for the fast cash offer you need, and
            that’s a breath of fresh air for homeowners whose houses are waiting on the market.</p>
        </div>

        <div>
          <h4>How we do it differently</h4>
          <p>At I Buy Ugly Houses®, we buy houses fast for cash. We work in person with sellers, so you have a familiar
            face to help you fully understand our process.</p>
          <p>We’re cash house buyers who know that each situation and each seller is different. We can assure you that
            no amount of damage or clutter is going to bother us. We even take care of moving any unwanted items for
            homeowners after the sale is complete. From minor repairs to major ones, we see them all—no vacuuming or
            hole-filling required. </p>
          <p>Once we visit your house on a day that works for you, we take a quick look around the property, then take a
            moment to chat about how our process fits with your situation. If we make a fair cash offer for your house,
            we recommend you take some time to think it over, talk with your family or trusted advisors, and come back
            to us with an answer when you’re ready. If you accept, we can often close in as little as 3 weeks.</p>
          <p>We commit time to community involvement and outreach so that we can work toward beautifying the world
            around us. </p>
        </div>

      </div>
      <div class="col-lg-4 col-md-4 col-12  order-lg-2 order-md-2 order-1">
        <div class="fifth-section py-5 px-3  rounded rounded-4">
          <h4 class="pb-4">Set up a free, no-commitment home review.</h4>

          <form #contactForm="ngForm" (ngSubmit)="contactFormData(contactForm)" class="needs-validation" novalidate="">

            <div class="row">

              <div class="col-lg-6 col-md-6 col-12">
                <div class="form-floating mb-3">
                  <input type="text" class="form-control" autocomplete="new-password" id="floatingInput"
                    [(ngModel)]="formData.firstName" placeholder="First Name" name="firstName" #firstNameRef="ngModel"
                    ngModel required="">
                  <label for="floatingInput">First name*</label>
                </div>
              </div>
              <div class="col-lg-6  col-md-6 col-12">
                <div class="form-floating mb-3">
                  <input type="text" class="form-control" autocomplete="new-password" id="floatingInput"
                    [(ngModel)]="formData.lastName" placeholder="Last Name" name="lastName" #lastNameRef="ngModel"
                    ngModel required="">
                  <label for="floatingInput">Last name*</label>
                </div>
              </div>

              <div class="col-lg-12">
                <div class="form-floating mb-3">
                  <input type="tel" class="form-control" autocomplete="new-password" id="floatingInput"
                    [(ngModel)]="formData.phoneNumber" placeholder="Phone Number" [inputMask]="phoneNumberInputMask"
                    name="phoneNumber" #phoneNumberRef="ngModel" ngModel required="">
                  <label for="floatingInput">Phone Number*</label>
                </div>
              </div>
              <div class="col-lg-12">
                <div class="form-floating mb-3">
                  <input type="email" class="form-control" autocomplete="new-password" id="floatingInput"
                    [(ngModel)]="formData.email" placeholder="Email" name="email" #emailRef="ngModel" ngModel
                    required="">
                  <label for="floatingInput">Email*</label>
                </div>
              </div>
              <div class="col-lg-12">
                <div class="form-floating mb-3">
                  <input type="text" class="form-control" autocomplete="new-password" ngx-google-places-autocomplete
                    [options]="options" (onAddressChange)="handleAddressChange($event)" id="floatingInput"
                    [(ngModel)]="formData.sessionFullStreetAddress" placeholder="Property address" name="streetAddress"
                    #streetAddressRef="ngModel" ngModel required="">
                  <label for="floatingInput">Property address*</label>
                  <div class="d-lg-block d-md-block d-block mb-lg-0 mb-md-0 m-2">
                    <img src="../../../assets/images/powered-by-google-transparent.png" width="100" alt="">
                  </div>
                </div>
              </div>

            </div>

            <div class="mt-4 form-check" id="confirm-msg">
              <input type="checkbox" class="form-check-input" name="confirm" [(ngModel)]="formData.confirm" required>
              <label class="form-check-label" for="exampleCheck1">By checking this box, I authorize and provide my
                consent
                for IBuyUglyHouses® or its franchisees, or their service providers, to contact me at the phone
                number provided
                above via text (SMS) or calling using automated dialing technology to schedule an appointment and for
                marketing purposes related to the IBuyUglyHouses® services I am inquiring about. Consent not
                required to
                purchase services. Message and data rates may apply. Message frequency varies by account. To opt-out at
                any
                time reply STOP to the message you receive. For more information, please review our <a
                  href="terms-of-use" target="_blank">Terms of Use</a> and <a href="privacy-policy"
                  target="_blank">Privacy
                  Policy</a>.
              </label>

            </div>
            <div class="mt-4">
              <!-- <button class="btn btn-danger px-5 py-3" id="button-vary1" type="submit" 
                  [disabled]="!contactForm.form.valid">Get a cash offer</button> -->
              <button type="submit" class="btn btn-warning px-5 py-3" id="button-vary1"
                [disabled]="!contactForm.form.valid">Get a cash offer</button>
            </div>

          </form>
        </div>

      </div>

    </div>
  </div>
</section>

<section class="our-core-values">
  <div class="container">
    <div class="row justify-content-center align-items-center text-center ">
      <div class="col-lg-10">
        <div>
          <p class="section-title pb-2">IMPROVING LIVES THROUGH EXCEPTIONAL EXPERIENCES</p>
          <h2 class="section-subheading">Our Core Values</h2>
        </div>
      </div>
    </div>
    <div class="row justify-content-center align-items-center pb-5 g-5">
      <div class="col-lg-4">
        <div class="row text-center">
          <div class="col-12">
            <img src="../../../assets/about-us/WBUH-Core-Value-Icons-Service-300x300.svg" alt="">
          </div>
          <div class="col-12">
            <div>
              <h5 class="fw-bold">Service</h5>
              <p>We respect others and commit to the highest levels of professionalism and consistency.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="row text-center">
          <div class="col-12">
            <img src="../../../assets/about-us/WBUH-Core-Value-Icons-Innovation-300x300.svg" alt="">
          </div>
          <div class="col-12">
            <div>
              <h5 class="fw-bold">Innovation</h5>
              <p>We continually find new and creative ways to improve.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="row text-center">
          <div class="col-12">
            <img src="../../../assets/about-us/WBUH-Core-Value-Icons-Trust-300x300.svg" alt="">
          </div>
          <div class="col-12">
            <div>
              <h5 class="fw-bold">Trust</h5>
              <p>We act with honesty and integrity in all we do through transparency and accountability.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="let-get-you-moving">
  <div class="container">
    <div class="row justify-content-center align-items-center text-center">
      <div class="col-lg-10 col-12">
        <p class="fs-3  fw-bold">Don't take our word for it</p>
        <p class="fs-5">Learn about the real difference we made for real sellers. </p>
        <p class="fs-5">Finding a legitimate cash home buyer is an important part of your selling process. When looking
          for potential buyers, it’s crucial to know how to spot and avoid real estate scams. Luckily, we have thousands
          of reviews from real customers who sold their homes to I Buy Ugly Houses; you can read them to get a better
          understanding of how our process works. See for yourself why we have a 95%* customer satisfaction rating. Feel
          free to reach out to us online for any more information about selling your house, and we will answer any
          questions you may have. </p>
      </div>

    </div>
  </div>
</section>

<section class="container" style="padding: 60px 0;">
  <div class="row d-flex justify-content-center align-items-center g-3 my-4 quotes responsive-text">
    <div class="col-lg-2">
      <img src="../../../assets/faqs/quote.svg" width="90%" alt="">
    </div>
    <div class="col-lg-10 ">
      <h2>I Bug Ugly Houses is a fantastic experience, everyone should have when contemplating the step to moving
        from their home to a new location. Meeting and doing
        business with Michael has been an amazing pleasure. Should anyone reading this feel the need to sell their
        property, I would say; go with I Bug Ugly Houses for a seamless and headache free process. S Hest & F
        McGann</h2>

      <div class="row my-3">
        <div class="col">
          <img src="../../../assets/faqs/star-five.webp" alt="">
          <img src="../../../assets/faqs/WBUH-verified-seller-badge.svg" alt="">
        </div>
      </div>
      <div class="row">
        <div class="col">

          <h5>S Hest & F
            McGann • 1/21/2022</h5>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="meet-one-of-the-local-home-buyer">
  <div class="container">
    <div class="row justify-content-center align-items-center text-center content-top">
      <div class="col-lg-8 col-12 ">
        <p class="subheadline">Build Financial Freedom While Making a Meaningful Difference</p>
        <h2 class="fw-bold">Join Our Extraordinary Franchise Team</h2>
        <p >Explore a low-cost franchise opportunity and grow your real estate portfolio with the unwavering support of
          I Buy Ugly Houses. Benefit from comprehensive advertising campaigns to help you establish your business,
          empowering you to assist homeowners while creating your own success story.</p>

      </div>
    </div>
    <div class="row justify-content-center align-items-end text-center content-bottom">
      <div class="col-lg-3 col-md-4 col-12">
        <a href="locations" class="btn btn-warning p-3">Learn more today</a>
      </div>
    </div>
  </div>
</section>

<section class="faqs"  style="padding: 60px 0;">
  <div class="container">
    <div class="row justify-content-center align-items-center text-center ">
      <div class="col-lg-12">
        <div class="content">
          <p class="section-title pb-2">HAVE MORE QUESTIONS?</p>
          <h2 class="section-subheading">Get answers to frequently asked questions.</h2>
        </div>
      </div>
    </div>
    <div class="row justify-content-center align-items-center mt-3">
      <div class="col-lg-10">
        <div class="accordion" id="accordionExample">
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                aria-expanded="true" aria-controls="collapseOne">
                How many homes has IBuyUglyHouses bought over the years?????
              </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                Since 2014 we have purchased hundreds of homes in the Province of Ontario We are not an outside agency
                that swoops in to buy up homes. </div>
            </div>
          </div>
          <div class="accordion-item my-3">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Is there a fee you charge when you buy a house?
              </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                No. Unlike many home buying companies or real estate agents,we  never charges a fee.
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                My house needs several repairs. Does this mean you won’t buy it??
              </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                Not at all! Most of the houses we purchase are in need of repairs or updating. So long as the home is
                basically in good condition, we’ll buy it from you.</div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>
<app-sub-footer-contact-info></app-sub-footer-contact-info>
<app-footer></app-footer>