<app-navbar></app-navbar>
<section class="common-header">
    <div class="container">
        <div class="row vh-50 d-flex justify-content-left align-items-center ">
            <div class="col-lg-10">
                <h1 class="fw-bold">Thinking of downsizing your house?</h1>
            </div>
        </div>
    </div>
</section>
<section class="how-it-works">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-12">
                <div>
                    <h4>There can be benefits to downsizing.</h4>
                    <p>There are many reasons that downsizing may be right for you. You may have too much space now that
                        the kids have left the house, or you’re retiring, or the payments have become overwhelming. One
                        advantage of downsizing is less responsibility. A smaller home means less to care for. Cleaning,
                        repairs, and yard work can be more manageable and less costly in a smaller house.</p>
                </div>
                <div>
                    <h4>Ready to start a new chapter when you retire?</h4>
                    <p>When it’s time to scale back from working, you may want to put less time, money, and effort into
                        your house. Downsizing can help you do just that. Or maybe you’re ready for a complete change of
                        scenery—the cool mountains and coastlines of the Northwest, the forests of Vermont, the warm and
                        dry climates of New Mexico, or the easy lifestyle of the southeastern beaches. </p>
                    <p>I Buy Ugly Houses® can buy your home exactly “as is,” meaning no repairs or cleaning needed, and
                        we pay all cash and close fast—often in as little as three weeks, or later, if that’s convenient
                        for you. </p>
                </div>

                <div>
                    <h4>Downsizing the family home means downsizing responsibilities.</h4>
                    <p>It’s simple—less home means less to care for. Cleaning, repairs, yard work, and furniture can all
                        get much simpler and less costly when you move to a smaller home.</p>

                </div>

                <div>
                    <h4>When should you downsize your house? And are you wondering how you’ll ever sell the one you’re
                        in?</h4>
                    <p>As we mentioned earlier, downsizing can be brought on by financial concerns, an empty nest,
                        retirement, or other factors. As welcome as the lifestyle change might be, making it a reality
                        has a potentially major obstacle—selling your present house. </p>
                    <p>You’ve probably been through this before—making long-postponed repairs, cleaning like never
                        before, hiring a real estate agent, clearing out of the house to make way for showings, leaving
                        it on the market for an uncertain period of time—it can be a lot of upfront costs and take weeks
                        or months. </p>
                    <p>I Buy Ugly Houses can buy your home exactly as it is, no repairs or cleaning needed, and we pay
                        all cash and close fast—often in as little as three weeks or when it works for you. Plus, we
                        don’t charge commissions, and we pay typical closing costs. Think of all the time and money that
                        can save you. There’s no easier or quicker way to sell your house and get on with the next
                        chapter in your life. </p>
                    <p>We’ll even buy it with the furniture and contents you want to leave behind, so you don’t have to
                        pack up and move them. As you may have heard on Kliplinger.com, we've done it all before. </p>
                    <p>It won’t cost you any money and only about an hour or so of your time to find out how much cash
                        we’ll pay you for your house. And you’ll be under no obligation to accept our offer, so you have
                        nothing to lose but a house that’s standing between you and the life you want to enjoy. Just
                        call (888) 986-9883 or use our online form to connect with your local I Buy Ugly Houses property
                        specialist. </p>
                </div>
                <div>
                    <h4>How we work</h4>
                    <p>At I Buy Ugly Houses, we've helped more homeowners out of ugly situations than anyone and have the trusted know-how to close quickly with an all-cash offer. We treat each house and each seller as a completely unique situation, and we’ll work with you to determine how we can best help you and your current situation. We make selling your house quick, easy, and hassle-free. You have nothing to lose except the stress and expense of selling your house any other way.</p>
                    <img src="../../../assets/how-it-works/howtosellhouse.png" alt="" width="100%">
              
                </div>


            </div>
            <div class="col-lg-4 col-md-4 col-12  order-lg-2 order-md-2 order-1">
                <div class="fifth-section py-5 px-3  rounded rounded-4">
                    <h4 class="pb-4">Set up a free, no-commitment home review.</h4>

                    <form #contactForm="ngForm" (ngSubmit)="contactFormData(contactForm)" class="needs-validation"
                        novalidate="">

                        <div class="row">

                            <div class="col-lg-6 col-md-6 col-12">
                                <div class="form-floating mb-3">
                                    <input type="text" class="form-control" autocomplete="new-password"
                                        id="floatingInput" [(ngModel)]="formData.firstName" placeholder="First Name"
                                        name="firstName" #firstNameRef="ngModel" ngModel required="">
                                    <label for="floatingInput">First name*</label>
                                </div>
                            </div>
                            <div class="col-lg-6  col-md-6 col-12">
                                <div class="form-floating mb-3">
                                    <input type="text" class="form-control" autocomplete="new-password"
                                        id="floatingInput" [(ngModel)]="formData.lastName" placeholder="Last Name"
                                        name="lastName" #lastNameRef="ngModel" ngModel required="">
                                    <label for="floatingInput">Last name*</label>
                                </div>
                            </div>

                            <div class="col-lg-12">
                                <div class="form-floating mb-3">
                                    <input type="tel" class="form-control" autocomplete="new-password"
                                        id="floatingInput" [(ngModel)]="formData.phoneNumber" placeholder="Phone Number"
                                        [inputMask]="phoneNumberInputMask" name="phoneNumber" #phoneNumberRef="ngModel"
                                        ngModel required="">
                                    <label for="floatingInput">Phone Number*</label>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="form-floating mb-3">
                                    <input type="email" class="form-control" autocomplete="new-password"
                                        id="floatingInput" [(ngModel)]="formData.email" placeholder="Email" name="email"
                                        #emailRef="ngModel" ngModel required="">
                                    <label for="floatingInput">Email*</label>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="form-floating mb-3">
                                    <input type="text" class="form-control" autocomplete="new-password"
                                        ngx-google-places-autocomplete [options]="options"
                                        (onAddressChange)="handleAddressChange($event)" id="floatingInput"
                                        [(ngModel)]="formData.sessionFullStreetAddress" placeholder="Property address"
                                        name="streetAddress" #streetAddressRef="ngModel" ngModel required="">
                                    <label for="floatingInput">Property address*</label>
                                    <div class="d-lg-block d-md-block d-block mb-lg-0 mb-md-0 m-2">
                                        <img src="../../../assets/images/powered-by-google-transparent.png" width="100"
                                            alt="">
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="mt-4 form-check" id="confirm-msg">
                            <input type="checkbox" class="form-check-input" name="confirm"
                                [(ngModel)]="formData.confirm" required>
                            <label class="form-check-label" for="exampleCheck1">By checking this box, I authorize and
                                provide my
                                consent
                                for IBuyUglyHouses® or its franchisees, or their service providers, to contact me at the
                                phone
                                number provided
                                above via text (SMS) or calling using automated dialing technology to schedule an
                                appointment and for
                                marketing purposes related to the IBuyUglyHouses® services I am inquiring about. Consent
                                not
                                required to
                                purchase services. Message and data rates may apply. Message frequency varies by
                                account. To opt-out at
                                any
                                time reply STOP to the message you receive. For more information, please review our <a
                                    href="terms-of-use" target="_blank">Terms of Use</a> and <a href="privacy-policy"
                                    target="_blank">Privacy
                                    Policy</a>.
                            </label>

                        </div>
                        <div class="mt-4">
                            <!-- <button class="btn btn-danger px-5 py-3" id="button-vary1" type="submit" 
                  [disabled]="!contactForm.form.valid">Get a cash offer</button> -->
                            <button type="submit" class="btn btn-warning px-5 py-3" id="button-vary1"
                                [disabled]="!contactForm.form.valid">Get my fair cash offer</button>
                        </div>

                    </form>
                </div>

            </div>

        </div>
    </div>
</section>

<section class="let-get-you-moving">
    <div class="container">
        <div class="row justify-content-center align-items-center text-center">
            <div class="col-lg-10 col-12">
                <p class="fs-4 fw-bold">It’s as easy as 1–2–3!</p>
                <p class="fs-5">Let’s get started for free today—no obligation and no pressure. <br /> With just a quick
                    visit to your house, we can often make you a fair cash offer on the spot!</p>

            </div>

        </div>
        <div class="row justify-content-center align-items-center text-center ">
            <div class="col-lg-3 col-md-4 col-12">
                <a class="btn btn-warning p-3" href="contact-us">Contact us Today</a>
            </div>
        </div>
    </div>
</section>

<app-sub-footer-contact-info></app-sub-footer-contact-info>
<app-footer></app-footer>