<section id="testimonials" class="section-testimonials d-flex align-items-center">
  <div class="container">
    <div class="row">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <div id="carouselExampleControls" data-bs-ride="carousel" class="carousel slide carousel-fade text-center">
          <div class="carousel-inner">
            <div data-bs-interval="10000" class="carousel-item active">
              <div class="row d-flex justify-content-center">

                <div class="col-lg-8 testimonial-text">

                  <ul class="list-unstyled d-flex justify-content-center text-warning mt-4">
                    <li><i class="fas fa-star fa-sm" aria-hidden="true"></i></li>
                    <li><i class="fas fa-star fa-sm" aria-hidden="true"></i></li>
                    <li><i class="fas fa-star fa-sm" aria-hidden="true"></i></li>
                    <li><i class="fas fa-star fa-sm" aria-hidden="true"></i></li>
                    <li><i class="fas fa-star fa-sm" aria-hidden="true"></i></li>
                  </ul>
                  <h3>I went Googled IBuyUglyHouses and read some reviews, and that was my decision. I’m going with it. Being able to settle in a short time, minimized paperwork, that was the deciding factor!</h3>
                  <div class="my-4">
                    <h5>Charlotte W. (Ontario, Canada)</h5>
                    <h6>28/10/2022</h6>
                  </div>
                  
                  <div class="mb-4">
                    <a href="selling-your-house/reviews" class="btn btn-danger" id="button-vary1" target="_blank">View More Reviews</a>
                  </div>
                </div>
              </div>

            </div>

            <div data-bs-interval="10000" class="carousel-item">
                <div class="row d-flex justify-content-center">
  
                  <div class="col-lg-8 testimonial-text">
  
                    <ul class="list-unstyled d-flex justify-content-center text-warning mt-4">
                      <li><i class="fas fa-star fa-sm" aria-hidden="true"></i></li>
                      <li><i class="fas fa-star fa-sm" aria-hidden="true"></i></li>
                      <li><i class="fas fa-star fa-sm" aria-hidden="true"></i></li>
                      <li><i class="fas fa-star fa-sm" aria-hidden="true"></i></li>
                      <li><i class="fas fa-star fa-sm" aria-hidden="true"></i></li>
                    </ul>
                    <h3>
                      We sold a home to Michael a few months ago. His team worked with us and provided a super smooth and professional process. We agreed on a price, signed the papers, received the money without having to spend a dime on anything else. It was quick and headache-free. Thank you, Michael.
                    </h3>
                    <div class="my-4">
                      <h5>Golrokh K. (Ontario, Canada) </h5>
                      <h6>23/02/2023</h6>
                    </div>

                    <div class="mb-4">
                        <a href="selling-your-house/reviews" class="btn btn-danger" id="button-vary1" target="_blank">View More Reviews</a>
                      </div>
                  </div>
                </div>
  
              </div>

              <div data-bs-interval="10000" class="carousel-item">
                <div class="row d-flex justify-content-center">
  
                  <div class="col-lg-8 testimonial-text">
  
                    <ul class="list-unstyled d-flex justify-content-center text-warning mt-4">
                      <li><i class="fas fa-star fa-sm" aria-hidden="true"></i></li>
                      <li><i class="fas fa-star fa-sm" aria-hidden="true"></i></li>
                      <li><i class="fas fa-star fa-sm" aria-hidden="true"></i></li>
                      <li><i class="fas fa-star fa-sm" aria-hidden="true"></i></li>
                      <li><i class="fas fa-star fa-sm" aria-hidden="true"></i></li>
                    </ul>
                    <h3>
                      I was in need of help in selling my condominium due to a flooding accident and needed to move back home to Sudbury with my family. I needed a quick solution and IBuyUglyHouses offered that solution.
                    </h3>
                    <div class="my-4">
                      <h5>Samantha (Ontario, Canada) </h5>
                      <h6>18/09/2022</h6>
                    </div>

                    <div class="mb-4">
                        <a href="selling-your-house/reviews" class="btn btn-danger" id="button-vary1" target="_blank">View More Reviews</a>
                      </div>
                  </div>
                </div>
  
              </div>

              <div data-bs-interval="10000" class="carousel-item">
                <div class="row d-flex justify-content-center">
  
                  <div class="col-lg-8 testimonial-text">
  
                    <ul class="list-unstyled d-flex justify-content-center text-warning mt-4">
                      <li><i class="fas fa-star fa-sm" aria-hidden="true"></i></li>
                      <li><i class="fas fa-star fa-sm" aria-hidden="true"></i></li>
                      <li><i class="fas fa-star fa-sm" aria-hidden="true"></i></li>
                      <li><i class="fas fa-star fa-sm" aria-hidden="true"></i></li>
                      <li><i class="fas fa-star fa-sm" aria-hidden="true"></i></li>
                    </ul>
                    <h3>
                      We sold a home to Michael a few months ago. His team worked with us and provided a super smooth and professional process. We agreed on a price, signed the papers, received the money without having to spend a dime on anything else. It was quick and headache-free. Thank you, Michael.
                    </h3>
                    <div class="my-4">
                      <h5>Golrokh K. (Ontario, Canada) </h5>
                      <h6>11/03/2023</h6>
                    </div>

                    <div class="mb-4">
                        <a href="selling-your-house/reviews" class="btn btn-danger" id="button-vary1" target="_blank">View More Reviews</a>
                      </div>
                  </div>
                </div>
  
              </div>

             

          </div>
          
          
          <button type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev"
            class="carousel-control-prev"><span aria-hidden="true" class="carousel-control-prev-icon"></span><span
              class="visually-hidden">Previous</span></button><button type="button"
            data-bs-target="#carouselExampleControls" data-bs-slide="next" class="carousel-control-next"><span
              aria-hidden="true" class="carousel-control-next-icon"></span><span
              class="visually-hidden">Next</span></button>
        </div>
      </div>
    </div>
  </div>
</section>
