<section class="footer">
  <div class="container">

    <div class="row mb-4 justify-content-center align-items-center">
      <div class="col-lg-8 col-md-8 col-12 order-lg-1 order-md-1 order-2">
        <ul id="menu-footer-navigation" class="nav">
          <li><a title="How it Works" href="how-does-it-work" target="_blank">How it Works
            </a></li>
          <!-- <li><a title="Sell to Us" href="selling-your-house" target="_blank">Sell to Us
            </a>
          </li> -->
          <li><a title="Locations" href="locations" target="_blank">Locations</a>
          </li>
          <li><a title="FAQ" href="faqs" target="_blank">FAQ</a></li>
          <li><a title="About" href="about" target="_blank">About</a></li>
          <!-- <li><a
              title="Press" href=""  target="_blank">Press</a></li> -->
          <!-- <li><a title="contact-us" href="investor-sign-up" target="_blank">Investor Sign Up</a></li> -->
          <li><a title="contact-us" href="contact-us" target="_blank">Contact</a></li>
          <!-- <li><a
              title="Micheal the Home Buyer® Blog" href="sell-my-house-Windsor/"  target="_blank">Micheal the Home Buyer® Blog</a></li> -->
          <li><a title="Feedback" href="feedback" target="_blank">Feedback</a></li>
          <li><a title="Mobile Terms of Service" href="mobile-tos" target="_blank">Mobile Terms of Service</a>
          </li>
          <li><a title="Terms of Use" href="terms-of-use" target="_blank">Terms of Use</a></li>
          <li><a title="Privacy Policy" href="privacy-policy" target="_blank">Privacy Policy</a>
          </li>
          <!-- <li><a
              title="Do not Mail" href="do-not-mail"  target="_blank">Do Not Mail</a></li> -->

        </ul>
      </div>
      <div class="col-lg-4 col-md-4 col-12 text-center order-lg-2 order-md-2 order-1 pb-lg-0 pb-md-0 pb-4">
        <h3 class="fw-bold">
          <a href="tel:18889869883"><img src="../../../assets/images/footer/phone-white.svg" width="15" alt=""
              srcset=""> 1 (888) 986-9883</a>
        </h3>
      </div>
    </div>
    <hr />
    <div class="row mt-4">
      <div class="col-lg-12">
        <h5 class="fw-bold">AREAS WE SERVICE</h5>
        <ul id="menu-footer-navigation" class="nav">
          <li><a title="Hamilton" href="location/richmond-hill" target="_blank">Sell Fast In
              Richmond Hill</a></li>
          <li><a title="Toronto" href="location/pickering" target="_blank">Sell Fast In Pickering</a>
          </li>
          <li><a title="Sell Fast In St. Catharines" href="location/pembroke" target="_blank">Sell Fast In Pembroke</a>
          </li>
          <li><a title="Markham" href="location/markham" target="_blank">Sell Fast In
              Markham</a></li>
          <li><a title="Dryden" href="location/dryden" target="_blank">Sell Fast In
              Dryden</a></li>
          <li><a title="Haldimand County" href="location/haldimand-county" target="_blank">Sell Fast In
              Haldimand County</a></li>
          <li><a title="Brant" href="location/brant" target="_blank">Sell Fast In
              Brant</a></li>
          <li><a title="Windsor" href="location/windsor" target="_blank">Sell Fast In
              Windsor</a></li>
          <li><a title="Woodstock" href="location/woodstock" target="_blank">Sell Fast In Woodstock</a></li>
          <li><a title="Toronto" href="location/toronto" target="_blank">Sell Fast In Toronto</a>
          </li>
          <li><a title="Trenton" href="location/trenton" target="_blank">Sell Fast In
              Trenton</a></li>
          <li><a title="Thunder Bay" href="location/thunder-bay" target="_blank">Sell Fast In Thunder Bay</a>
          </li>
          <li><a title="Vaughan" href="location/vaughan" target="_blank">Sell Fast In
              Vaughan</a></li>
          <li><a title="Sarnia" href="location/sarnia" target="_blank">Sell Fast In
              Sarnia</a></li>
          <li><a title="Waterloo" href="location/waterloo" target="_blank">Sell Fast In
              Waterloo</a></li>

          <li><a title="Pickering" href="location/pickering" target="_blank">Sell Fast In
              Pickering</a></li>

          <!--  -->
          <li><a title="Guelph" href="location/guelph" target="_blank">Sell Fast In
              Guelph</a></li>
          <li><a title="Hamilton" href="location/hamilton" target="_blank">Sell Fast In
              Hamilton</a></li>
          <li><a title="Etobicoke" href="location/etobicoke" target="_blank">Sell Fast In
              Etobicoke</a></li>
          <li><a title="Kingston" href="location/kingston" target="_blank">Sell Fast In
              Kingston</a></li>

          <li><a title="Kirkland Lake" href="location/kirkland-lake" target="_blank">Sell Fast In
              Kirkland Lake</a></li>
          <li><a title="Kapuskasing" href="location/kapuskasing" target="_blank">Sell Fast In
              Kapuskasing</a></li>
          <li><a title="Kawartha Lakes" href="location/kawartha-lakes" target="_blank">Sell Fast In
              Kawartha Lakes</a></li>

        </ul>

        <p class="mt-4">
     <small>     Based on seller reviews submitted through Google Reviews since 2014. ©2023
      IBuyUglyHouses of Canada Inc. All rights reserved.</small>
        </p>
      </div>
    </div>
    <div class="row mt-4 ">
      <div class="col-12 justify-content-left align-items-left g-2">
     
        <a href="https://www.facebook.com/MichaeltheHomebuyer/" target="_blank" class="bi bi-facebook"></a>
        <a href="https://www.instagram.com/michaelthehomebuyer/" target="_blank" class="bi bi-instagram"></a>
        <a href="https://twitter.com/Michaelthebuyer/" target="_blank" class="bi bi-twitter-x"></a>
      </div>
    </div>
  </div>
</section>
