<section class="footer">
  <div class="container">

    <footer class="row row-cols-1 row-cols-sm-2 row-cols-md-5">
      <div class="col mb-3">
        <h4 class="text-body-secondary">Help Us Improve:</h4>
        <a href="feedback" class="btn btn-outline-success">SHARE YOUR FEEDBACK</a>
      </div>
  
      <div class="col mb-3">
  
      </div>
  
      <div class="col mb-3">
        <h5>Sell</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="how-does-it-work" class="nav-link p-0 text-body-secondary">How it Works</a></li>
          <li class="nav-item mb-2"><a href="company-info" class="nav-link p-0 text-body-secondary">Why Sell to Us</a></li>
          <li class="nav-item mb-2"><a href="seller-resources" class="nav-link p-0 text-body-secondary">Sell Your House</a></li>
          <li class="nav-item mb-2"><a href="cash-home-buyers" class="nav-link p-0 text-body-secondary">Cash Home Buyers</a></li>
          <li class="nav-item mb-2"><a href="contact-us" class="nav-link p-0 text-body-secondary">Contact Us</a></li>
        </ul>
      </div>
  
      <div class="col mb-3">
        <h5>Company</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="company-info" class="nav-link p-0 text-body-secondary">About Us</a></li>
          <li class="nav-item mb-2"><a href="locations" class="nav-link p-0 text-body-secondary">Locations</a></li>
          <li class="nav-item mb-2"><a href="why-sell-to-us/house-in-disrepair" class="nav-link p-0 text-body-secondary">Ugly Houses</a></li>
        </ul>
      </div>
  
      <div class="col mb-3">
        <h5>Resources</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="faqs" class="nav-link p-0 text-body-secondary">FAQ</a></li>
          <li class="nav-item mb-2"><a href="seller-resources" class="nav-link p-0 text-body-secondary">Resources</a></li>
          <li class="nav-item mb-2"><a href="feedback" class="nav-link p-0 text-body-secondary">Feedback</a></li>
        </ul>
      </div>
    </footer>
   
    <hr />
    <div class="row mt-4">
      <div class="col-lg-12">
        <h5 class="fw-bold">AREAS WE SERVICE</h5>
        <ul id="menu-footer-navigation" class="nav">
          <li><a title="Hamilton" href="location/richmond-hill" target="_blank">Sell Fast In
              Richmond Hill</a></li>
          <li><a title="Toronto" href="location/pickering" target="_blank">Sell Fast In Pickering</a>
          </li>
          <li><a title="Sell Fast In St. Catharines" href="location/pembroke" target="_blank">Sell Fast In Pembroke</a>
          </li>
          <li><a title="Markham" href="location/markham" target="_blank">Sell Fast In
              Markham</a></li>
          <li><a title="Dryden" href="location/dryden" target="_blank">Sell Fast In
              Dryden</a></li>
          <li><a title="Haldimand County" href="location/haldimand-county" target="_blank">Sell Fast In
              Haldimand County</a></li>
          <li><a title="Brant" href="location/brant" target="_blank">Sell Fast In
              Brant</a></li>
          <li><a title="Windsor" href="location/windsor" target="_blank">Sell Fast In
              Windsor</a></li>
          <li><a title="Woodstock" href="location/woodstock" target="_blank">Sell Fast In Woodstock</a></li>
          <li><a title="Toronto" href="location/toronto" target="_blank">Sell Fast In Toronto</a>
          </li>
          <li><a title="Trenton" href="location/trenton" target="_blank">Sell Fast In
              Trenton</a></li>
          <li><a title="Thunder Bay" href="location/thunder-bay" target="_blank">Sell Fast In Thunder Bay</a>
          </li>
          <li><a title="Vaughan" href="location/vaughan" target="_blank">Sell Fast In
              Vaughan</a></li>
          <li><a title="Sarnia" href="location/sarnia" target="_blank">Sell Fast In
              Sarnia</a></li>
          <li><a title="Waterloo" href="location/waterloo" target="_blank">Sell Fast In
              Waterloo</a></li>

          <li><a title="Pickering" href="location/pickering" target="_blank">Sell Fast In
              Pickering</a></li>

          <!--  -->
          <li><a title="Guelph" href="location/guelph" target="_blank">Sell Fast In
              Guelph</a></li>
          <li><a title="Hamilton" href="location/hamilton" target="_blank">Sell Fast In
              Hamilton</a></li>
          <li><a title="Etobicoke" href="location/etobicoke" target="_blank">Sell Fast In
              Etobicoke</a></li>
          <li><a title="Kingston" href="location/kingston" target="_blank">Sell Fast In
              Kingston</a></li>

          <li><a title="Kirkland Lake" href="location/kirkland-lake" target="_blank">Sell Fast In
              Kirkland Lake</a></li>
          <li><a title="Kapuskasing" href="location/kapuskasing" target="_blank">Sell Fast In
              Kapuskasing</a></li>
          <li><a title="Kawartha Lakes" href="location/kawartha-lakes" target="_blank">Sell Fast In
              Kawartha Lakes</a></li>

        </ul>

      </div>
    </div>

    <div class="row mt-4">
      <div class="col-lg-12">
        <ul id="menu-footer-navigation" class="nav">
          <li><a title="Terms of Use" href="terms-of-use" target="_blank">Terms of Use</a></li>
          <li><a title=" Mobile Terms of Service" href="mobile-tos" target="_blank"> Mobile Terms of Service</a>
          </li>
          <li><a title="Privacy Policy" href="privacy-policy" target="_blank">Privacy Policy</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="row mt-4 ">
      <p>©2024 I Buy Ugly Houses. All rights reserved. Based on seller reviews submitted through Google Reviews since 2014. ©2023
        IBuyUglyHouses of Canada Inc. All rights reserved.</p>
    </div>
  </div>
</section>
