<app-navbar></app-navbar>

<app-common-header heading="The industry leaders in cash home buying" subheading="You can trust that our offers won't come with hidden fees."></app-common-header>

<section class="first-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-12">
        <h2 class="mb-4">Experience matters when selling your house fast.</h2>

        <p>When you need or want to sell a house fast, things can get stressful, emotional, and sometimes frustrating.
          You can begin to think things like: </p>
        <p><i>"Has the real estate agent handled a situation like mine?"</i></p>
        <p><i>"Will I get the price they say I'll get?"</i></p>
        <p><i>"How long will I wait for this house to actually sell?"</i></p>
        <p>At IBuyUglyHouses®, we know the feeling. Since 2014, we’ve been helping homeowners every day escape these
          worries and more by purchasing houses "as is" for cash. Unlike other companies that buy houses, we buy houses
          in almost any condition. Having bought over 2,500 houses, we’ve seen it all and know how to handle every
          situation. </p>
        <p>You can trust our fair offer. We don’t charge commissions and pay typical closing costs. We are among the
          most trustworthy cash buyers of homes. Every month, hundreds of sellers trust us to get them cash quickly,
          sometimes in as little as 3 weeks. Plus, we are by your side every step of the way. </p>
      </div>
    </div>
  </div>
</section>

<app-reviews-carousal></app-reviews-carousal>
<section class="third-section bg-light">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-12">
        <h2 class="mb-4">Canada's #1 cash home buyer</h2>

        <p>Every day, homeowners trust us to make fast and fair cash offers—and we come through. We buy homes fast. We
          have long-lasting relationships with lenders, making financing easy. Our free, no-obligation consultations are
          held at your house so we can visit your property and possibly make a fair cash offer. </p>
        <p>We strive to provide a personalised, hassle-free process. Selling a house is a major life decision with many
          details, choices, and things to consider. When we’re working with seniors, we encourage them to have family
          members or friends join the conversation and ask questions during our visit and throughout every step along
          the way. We understand it’s important to have support and guidance from loved ones throughout the process.</p>
        <p>If the sale is complicated or if it makes the homeowner more comfortable, we’re also happy to include
          whatever type of advisor the seller wishes to have present so that we can answer any questions they might have
          at our initial meeting, or at any time during the sale. </p>
      </div>
    </div>
  </div>
</section>

<section class="fourth-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-12">
        <h2 class="mb-4">For a fast cash offer, who should you trust?</h2>

        <p>Other companies may call or email you with an instant offer to buy your house. Of course, they often lower
          their price once they actually see your home. They usually ask you to make concessions or pay for repairs. Why
          waste time with all that back and forth? Instead, you could work with us, <a href="https://realestate.usnews.com/real-estate/articles/what-you-need-to-know-about-those-companies-that-buy-houses" target="_blank">
            one of the nation's most
            recognizable home buyers
          </a>, according to the US News. </p>
        <p>We prefer a simple and straightforward process. We always <a href="home-buyers-still-open" target="_blank">visit in person</a> and look at your home before we
          make an offer. We buy houses in almost any condition. Since 2014, home sellers have trusted our fair cash
          offers. </p>
        <p>Would you make an offer on a home you’ve never even seen? Of course not. So why should you trust someone who
          would? We buy houses we’ve seen and don’t give offers on houses we haven’t.

        </p>
      </div>
    </div>
  </div>
</section>


<section class="fifth-section bg-light">
  <div class="container">
    <div class="row g-4">
      <div class="col-lg-2 col-12">
        <img src="../../../assets/images/why-sell-to-us/experience-and-trust/quote.svg" width="100%" alt="">
      </div>
      <div class="col-lg-10 col-12">
        <h3 class="mb-4">The rental property I had needed a lot of work. When IBuyUglyHouses offered a fair price and I
          found out I could make some money, I was thrilled. They made it easy. IBuyUglyHouses was great.</h3>
        <h5>-Angela W., Oklahoma City, OK</h5>
      </div>
    </div>
  </div>
</section>

<section class="sixth-section">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-12">
          <h2 class="mb-4">Seven reasons to trust IBuyUglyHouses®</h2>
  
          <p>You want to <a href="selling-your-house" target="_blank">sell your house fast for cash</a>. Here are seven things you can count on from IBuyUglyHouses: </p>
          
          <ol>
            <li><p>We visit your home before ever making an offer. </p></li>
            <li><p>You’ll have personal access to a IBuyUglyHouses property specialist who lives in your area. </p></li>
            <li><p>We can make a fair cash offer that you can trust.</p></li>
            <li><p>We purchase houses with cash.</p></li>
            <li><p>With over 2,500 houses purchased, we’re experienced in resolving almost every type of unexpected obstacle and situation imaginable. </p></li>
            <li><p>We can close quickly, often in as little as 3 weeks, or later if that’s better for you. </p></li>
            <li><p>When we close, you won’t pay any commissions or hidden fees. </p></li>
          </ol>
        </div>
      </div>
    </div>
  </section>


  <section class="seventh-section bg-light">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-12">
          <h2 class="mb-4">Want to know more about what makes I Buy Ugly Houses® a great selling experience?</h2>
  
          <p>Read about our process, <a href="selling-your-house/personal-touch" target="_blank">personal touch</a>, and <a href="how-does-it-work" target="_blank">how we do what we do</a>. Want more proof? Read <a href="selling-your-house/reviews" target="_blank"> testimonials</a> from satisfied customers across the U.S. about how we make it easy to <a href="selling-your-house" target="_blank"> sell your house fast</a>.</p>
          
       <p>If you still have questions, we may have the answers you are looking for in our <a href="faqs" target="_blank"> FAQs</a> section. Or, feel free to <a href="contact-us" target="_blank">contact us</a> if you need to sell your home fast. </p>
        </div>
      </div>
    </div>
  </section>


<app-footer></app-footer>
