.first-section{
    padding: 80px 0;
}

.first-section a {
    font-weight: bold;
    text-decoration: none;
    color: #3ebbb1 !important;
}

.first-section a:hover {
    text-decoration: underline;
}