<app-navbar></app-navbar>
<section class="first-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-12">
        <h1 class="my-4">Privacy Policy</h1>

        <p>This Privacy Policy is part of the Terms of Use and describes how IBuyUglyHouses Home Buyer of Canada, Inc. and our
          franchisees handle information collected and received from or through our websites, associated applications,
          including mobile apps, as well as any other source such as social media. This Policy does not govern the
          activities of any third party. By accepting the Terms of Use you are accepting and agreeing to be bound by
          this Privacy Policy and consent to our use and disclosure of such information as indicated herein.</p>
        <h5>Collection and Use of Personally Identifying Information</h5>
        <p>We collect and use personally identifying information that you provide to us in the course of seeking
          offerings or information from us. This personally identifying information may include your name, address,
          e-mail address, contact information, and information about a property you seek to sell.</p>
        <p>We use this information (and other information we collect from you as described in this Policy) for our
          business purposes, including to contact you, evaluate and value any property you seek to sell, and formulating
          proposed transactions. We will also seek to match you to a franchisee, send you communications, including from
          a franchisee, contact you about changes to our Terms of Use and provide transaction related information. We
          may also communicate with you via text, including communications concerning franchisees. We will also monitor
          your compliance with our Terms of Use. We may also provide you with offers based upon the information we
          collect including your location. We may also contact you, or provide your information to a third party to
          contact you, during and after any initial contact so as to inquire as to your user experience, to provide you
          with an opportunity to participate in a survey and or to offer you an opportunity to provide feedback as to
          your user experience. This may include disclosures to a research firm to conduct email, online, phone, text
          and or zoom surveys to homeowners who contacted us but did not sell their house to us.</p>
        <h5>We do not sell any of the personal information we collect about you to third parties.</h5>
        <p>Your personally identifying information will not be shared with any third party, with the following
          exceptions: A. information that IBuyUglyHouses in good faith determines is legally required to be revealed by any
          relevant statute, regulation, ordinance, rule, administrative or court order, decree, or subpoena; B.
          information revealed during the course of IBuyUglyHouses’ enforcement of its policies and procedures, its Terms
          of Use, the terms of this Policy, the Online User Agreement, or any other agreement with us, or during the
          course of any disciplinary actions; C. information in a manner expressly permitted by the provisions of this
          Policy; D. information that IBuyUglyHouses in good faith determines must be disclosed to correct what it believes
          to be false or misleading information or to address activities that IBuyUglyHouses believes to be manipulative,
          deceptive or otherwise a violation of law; E. unless you are otherwise notified at the time we collect the
          data; or F. in connection with a merger, sale, ‎acquisition, assignment, bankruptcy proceeding, reorganization
          or other disposition ‎of some or all ‎aspects of our business or assets.</p>
        <p>We may also share your personal information with third-party non-profit organizations who may be interested
          in purchasing your home, but only after obtaining your consent to share.</p>
        <p>Within the last twelve (12) months, we have shared each of the categories of personal ‎‎information collected
          in connection with this website with affiliates and service providers as set ‎‎forth herein.‎</p>
        <p>"Nonpublic Personal Information" is the nonpublic information about you that is obtained by IBuyUglyHouses from
          you. IBuyUglyHouses and its advertisers may collect Nonpublic Personal Information from the online forms you
          complete, from information collected as a result of your transactions with IBuyUglyHouses, our advertisers, or
          others, and from consumer reporting agencies. IBuyUglyHouses will not disclose any Nonpublic Personal Information
          except as permitted or required by law or as described in this Policy. We may disclose all of the Nonpublic
          Personal Information we collect about you, as well as other information collected as described in this Policy,
          to our affiliates who offer related goods and services, and to non-affiliated third parties that perform
          services on our behalf, including marketing services, or financial institutions with whom we have joint
          marketing agreements.</p>
        <h5>Other Information You Provide or Post</h5>
        <p>In addition to the practices described above, we may also use information we collect to, at your election,
          provide you with information and advertisements about goods and services we believe may be of interest to you.
        </p>
        <p>You may provide us with testimonials about your experience with us (including a picture of yourself), and
          with feedback about our services. We may use any such information you provide to enhance our services and for
          public-facing marketing purposes, such as through online or public display of your testimonial, feedback,
          and/or picture. We may also incorporate information you provide through messages, e-mails, or other means
          (though not your personally identifying information) into our materials or offerings.</p>
        <h5>Accessing the Websites and Information Collection</h5>
        <p>When you access the Websites without actively providing any personal information we collect limited technical
          information, such as your IP address. We also use cookies as described below.</p>
        <p>As a registered user, we collect information about your use of the Websites including homes viewed, photos
          viewed, pages visited, information about your location and preferences for offerings. We will maintain your
          login information.</p>
        <p>Records of your use of the Websites are the sole property of IBuyUglyHouses. IBuyUglyHouses reserves the right to
          use such information for its marketing, franchising, and membership endeavors.</p>
        <h5>Cookies</h5>
        <p>We, like most major websites, use cookies (text files placed on your hard drive by a web server) to help
          personalize and maximize your experience and time online. Cookies are not used to run programs or deliver
          viruses to your computer. They are uniquely assigned to your computer and can only be read by a web server in
          the domain that issued the cookie to you. We use cookies to improve the Websites and to facilitate your use of
          the Websites.</p>
        <h5>Location-Based Services</h5>
        <p>To provide location-based services, it may be necessary to collect, use, and share precise location data,
          including the real-time geographic location of your computer or device. Where available, location-based
          services may use GPS, Bluetooth, and your IP Address, along with crowd-sourced Wi-Fi hotspot and cell tower
          locations, and other technologies to determine the location of your device. Unless you provide consent, such
          location data is collected anonymously in a form that does not personally identify you and is used to provide
          location-based services.</p>
        <p>For example, your device may share its geographic location with a Service that selects and displays
          properties relative to the location of your device. Some location-based services may require your personal
          information for the service to be provided.</p>
        <h5>Links</h5>
        <p>The Websites contain links to other websites. IBuyUglyHouses is not responsible for the privacy practices of
          sites other than our own. We encourage you to be aware of the privacy statements on other websites and to read
          those statements.</p>
        <h5>Protection of Information</h5>
        <p>Some areas of the Websites are secured and can only be accessed using unique login credentials. You must have
          a specific user identifier (user ID) and password to access resources through any password-protected portions
          of the Websites. Your login credentials and password are for your use only and strictly confidential. You are
          responsible for maintaining the confidentiality and security of those credentials, and are responsible for all
          activity occurring on the Websites using your login credentials and password. You are strictly prohibited from
          any sharing of your login credentials and/or password with any other person(s) and from any use of your login
          credentials other than for your use of the Websites in compliance with the Online User Agreement.</p>
        <h5>Third-Party Data Collection/Online Tracking</h5>
        <p>We use service providers such as Google Analytics to help us understand and improve the usage of the Websites
          and the effectiveness of our marketing efforts. We, Google Analytics, and/or our other analytics providers may
          use cookies, your IP address or an anonymous identifier as well as certain information from your browser,
          together with other non-personal information about your visits to the Websites (this may include information
          like page views and visit times; app store views; app downloads; user engagement information like active
          devices and location; app crashes; and behavior metrics) and other websites, so that we, Google Analytics, or
          third parties may improve the Websites and provide you with advertisements about goods and services of
          interest to you on the Websites and other websites (including through search engine results pages) and/or to
          provide analytical information about our Websites. If you would like more information about advertising
          networks, including choices about the use of information by Google Analytics and other companies for
          multi-site advertising purposes, go to www.networkadvertising.org and www.networkadvertising.org/choices/.
          Also, Google offers a Google Analytics browser add-on (designed to be compatible only with certain browsers)
          to provide website visitors the ability to prevent their data from being collected and used by Google
          Analytics. That add-on may be obtained here.</p>
        <p>Currently, various Internet browsers offer a "do not track" or "DNT" option that uses a DNT header to
          indicate the DNT preference setting on the browser. IBuyUglyHouses does not track your activity over time and
          across different websites or online services other than as set forth herein, and we do not currently respond
          to browsers’ DNT signals with respect to the Websites. We do not permit our third-party service providers to
          collect information from the Websites for other websites or for their own purposes other than as described in
          this Policy.</p>
        <h5>Social Media; Third-Party Applications</h5>
        <p>The collection and use of information on social media websites and applications are governed by their own
          privacy policies and terms. Please remember that any information posted on or through the IBuyUglyHouses pages
          such as Facebook, Twitter, Google+, or on other social media pages or channels, is subject to the policies and
          practices of the applicable social media channel.</p>
        <p>We may receive personal information from a social media site platform or application when you connect through
          a social media feed, post content, or otherwise interact with us using social media tools. For example, we may
          receive basic Facebook account information (name, e‑mail, gender, birthday, current city, and profile picture
          URL) through Facebook. Also, when you "like" us, or send a "Tweet" to us through a social media channel, we
          may receive your username, handle, and any other available personal information from the social media site or
          application. All information received from social media sites and applications is treated and used in the same
          manner and for the same purposes as described in this Policy with respect to similar information we obtain
          through the Site.</p>
        <h5>Children’s Privacy</h5>
        <p>We are committed to complying with all applicable laws and regulations regarding the collection, storage, and
          use of personal information of minors under the age of 18, including the Children’s Online Privacy Protection
          Act of 1998.</p>
        <p>We do not collect personal information from minors under the age of 18. Individuals under the age of 18 are
          not permitted to use the Websites without the supervision of a parent or legal guardian. We do not knowingly
          collect or solicit personal information from children under the age of 18 or knowingly allow such persons to
          register for an online account or to place orders or provide personal information through the Websites. If we
          learn that someone under the age of 18 has provided any personal information through the Websites, we will
          remove and permanently delete that information as soon as reasonably possible.</p>
        <p>If you are a parent or guardian who believes that your minor under the age of 18 has submitted personal
          information or other information to us without your consent, please contact us using the contact information
          provided below. Once we verify that you are the parent or legal guardian, we will cooperate with you to
          discuss what, if any, personal information we have collected about your child and how that information may
          have been shared or used.</p>
        <h5>Changes to This Statement</h5>
        <p>IBuyUglyHouses reserves the right to change this Privacy Policy at any time. Notification of changes will be
          posted on the Websites. Because these changes may affect your personal information, we suggest that you look
          for information regarding changes on a regular basis and review the changes as soon as they are published on
          the website.</p>
        <h5>Disclosures for Compliance with Law</h5>
        <p>Notwithstanding the provisions of this Privacy Policy or the Online User Agreement, information may be and
          will be disclosed as needed in order to comply with law, respond to facially valid process or subpoena, to
          stop or mitigate illegal activity or potential harm, to protect the security of information, and to protect
          against fraud.</p>
        <h5>Maintenance of Information Collected</h5>
        <p>We may maintain the information that we collect indefinitely or may delete it at any time in our sole
          discretion.</p>
        <h5>Security</h5>
        <p>We employ reasonable security methods to prevent unauthorized access, maintain data accuracy, and ensure
          correct use of your information. We maintain organizational, technical and administrative measures designed to
          protect your information against unauthorized access, loss, alteration or misuse. However, no data
          transmission over the Internet or any wireless network can be guaranteed to be perfectly secure. As a result,
          while we try to protect your information, we cannot ensure or guarantee the security of any information you
          transmit to us, and you do so at your own risk.</p>
        <h5>Jurisdiction-specific Provisions and New Laws</h5>
        <p>This Privacy Policy is intended to comply with all legal requirements including the requirements of any
          jurisdiction having unique laws regarding the collection and use of personal data ‎(e.g., the California
          Consumer Privacy Act or "CCPA")‎. Should you be a resident of any such jurisdiction, this policy is hereby
          deemed to be amended as appropriate to comply with any such laws. Moreover, to the extent there is any
          conflict with this Privacy Policy and any ‎and all privacy requirements under the law, including the CCPA and
          laws that may be enacted after this policy has been updated, this Privacy Policy is to be ‎deemed amended and
          updated to conform with any and all such legal requirements.‎</p>
        <h5>How do we keep your personal information secure?‎</h5>
        <p>We have implemented reasonable safeguards to protect your personal information from unauthorized access and
          improper use.</p>
        <p>If the CCPA applies to you, then you have the following additional rights:</p>
        <p>Deletion Rights: You have the right to request that we delete any of your personal information ‎that we
          retain, subject to certain legal exceptions, such as U.S., state, local and non-U.S. laws, rules and
          regulations.</p>
        <p>Disclosure and Access Rights: You have the right to request that we disclose to you certain ‎information
          regarding our collection and use of personal information specific to you over the last ‎twelve (12) months.
          Such information includes:‎</p>
        <ul>
          <li>
            <p>the categories of personal information we collected about you;</p>
          </li>
          <li>
            <p>the categories of sources from which the personal information is collected;‎</p>
          </li>
          <li>
            <p>our business or commercial purpose for collecting such personal information;‎</p>
          </li>
          <li>
            <p>the categories of third parties with whom we share the personal information;‎</p>
          </li>
          <li>
            <p>the specific pieces of personal information we have collected about you; and‎</p>
          </li>
          <li>
            <p>whether we disclosed your personal information to a third party, and, if yes, the categories of ‎personal
              information that each recipient obtained.‎</p>
          </li>
        </ul>

        <p>No Discrimination: We will not discriminate against you for exercising your rights under the ‎CCPA, including
          by denying service, suggesting that you will receive, or charging, different rates ‎for services or suggesting
          that you will receive, or providing, a different level or quality of service ‎to you.‎</p>
        <p>How to Exercise Your Rights: To exercise any of your rights under the CCPA, or to access this ‎notice in an
          alternative format, please submit a request on your behalf using any of the methods ‎set forth in the Contact
          Us section below. ‎</p>
        <p>For any requests relating to the exercise of your rights under this Privacy Policy, including the CCPA, or
          questions regarding ‎our processing of your personal information, please submit or have your authorized
          representative ‎submit a request using any of the methods set forth below. ‎</p>
        <p>We will contact you to confirm receipt of your request, including under the CCPA and request any ‎additional
          information necessary to verify your request. We verify requests by matching ‎information provided in
          connection with your request to information contained in our records. ‎Depending on the sensitivity of the
          request and the varying levels of risk in responding to such ‎requests (for example, the risk of responding to
          fraudulent or malicious requests), we may request ‎further information or your investor portal access
          credentials, if applicable, in order to verify your ‎request. You may designate an authorized agent to make a
          request under the CCPA on your ‎behalf, provided that you provide a signed agreement verifying such authorized
          agent’s authority ‎to make requests on your behalf, and we may verify such authorized person’s identity using
          the ‎procedures above.‎</p>
        <p>We will respond to a consumer request within forty-five (45) days of our receipt thereof.‎ We will notify you
          in ‎writing if we cannot comply with the request and provide an ‎‎explanation of the reasons. ‎</p>
        <h5>Contacting Us And Correcting Your Information</h5>
        <p>Please contact us with any questions including with any questions as to the correctness of the information
          that we collect and maintain. We strive to assure the correctness of the information we maintain. If the
          information we have about you is inaccurate, we will correct the information in a manner as timely as
          possible. To contact us, including to provide us with corrections, please do so in any of the following ways:
        </p>
        <ul>
         
          <li>
            <p>Call us at <a href="tel:18889869883">1 (888) 986-9883</a></p>
          </li>
        </ul>
        <div class="mt-5">

          <h5>© 2023 IBuyUglyHouses of Canada, Inc. All rights reserved.</h5>
        </div>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
