<app-navbar></app-navbar>
<app-common-header heading="IBuyUglyHouses vs Traditional Realtors" subheading="Know the difference."></app-common-header>

<section class="first-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-12">
        <h2>How long will it take to sell my house?</h2>
        <h3 class="mb-4">Sell My House Fast</h3>
        <p><i>"I want to sell my house fast for cash, can a realtor help?"</i> The answer is likely no. Homeowners that
          don't need to sell their house quickly and have the time and patience to wait for retail price on their house
          often hire a realtor to help them with the traditional selling route. But, homeowners looking for a simple
          selling process and want to move on quickly may not find this traditional route works for them.</p>
        <p>There are definitely pluses to hiring a qualified real estate agent. But if you want to sell a house fast
          (and without hassles)... there are a few minuses. Check out below how selling your house to IBuyUglyHouses
          compares to the traditional selling route.</p>

        <div class="mt-4 table-responsive">
          <table cellpadding="0" cellspacing="0" class="table hv-table red">
            <thead>
              <tr>
                <td><br role="presentation" data-uw-rm-sr=""></td>
                <td>Traditional Selling</td>
                <td>IBuyUglyHouses<sup>®</sup></td>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Commissions/Fees:</td>
                <td>6% (national avg. paid by seller)</td>
                <td>None</td>
              </tr>
              <tr>
                <td>Typical Closing Costs:</td>
                <td>2% (national avg. paid by seller)</td>
                <td>None</td>
              </tr>
              <tr>
                <td>Inspection/Financing Contingency:</td>
                <td>Time off work for inspection<br role="presentation" data-uw-rm-sr="">(15% of sales financing fails)
                </td>
                <td>None</td>
              </tr>
              <tr>
                <td>Appraisal Needed:</td>
                <td>Sale can be subject to appraisal</td>
                <td>None</td>
              </tr>
              <tr>
                <td>Cleaning &amp; Prepping:</td>
                <td>Time spent before every showing</td>
                <td>None</td>
              </tr>
              <tr>
                <td>Number of Showings:</td>
                <td>Can be countless</td>
                <td>None</td>
              </tr>
              <tr>
                <td>Repairs:</td>
                <td>Repairs are made both before listing and then again after the inspection</td>
                <td>None</td>
              </tr>
              <tr>
                <td>Average Days Until Sold:</td>
                <td>Varies depending on location and market conditions: National Avg. 68 days on market plus an
                  additional 30-60 days after accepting the offer to close</td>
                <td>Close in as little as 3 weeks</td>
              </tr>
            </tbody>
          </table>

          <!-- <img src="../../../assets/images/vs-traditional/vs-traditional-retailor.svg" width="100%" alt="" srcset=""> -->
        </div>
      </div>
    </div>
  </div>
</section>

<section class="second-section bg-light">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-12">
        <h2 class="mb-4">Canada's#1 cash home buyer</h2>

        <p>Every day, homeowners trust us to make fast and fair cash offers—and we come through. We buy homes fast. We
          have long-lasting relationships with lenders, making financing easy. Our free, no-obligation consultations are
          held at your house so we can visit your property and possibly make a fair cash offer. </p>
        <p>We strive to provide a personalised, hassle-free process. Selling a house is a major life decision with many
          details, choices, and things to consider. When we’re working with seniors, we encourage them to have family
          members or friends join the conversation and ask questions during our visit and throughout every step along
          the way. We understand it’s important to have support and guidance from loved ones throughout the process.</p>
        <p>If the sale is complicated or if it makes the homeowner more comfortable, we’re also happy to include
          whatever type of advisor the seller wishes to have present so that we can answer any questions they might have
          at our initial meeting, or at any time during the sale. </p>
      </div>
    </div>
  </div>
</section>

<section class="third-section">
  <div class="container">
    <div class="row justify-content-center align-items-center text-center">
      <div class="col-lg-8 pb-5">
        <div class="header">
          <h2>Why wait? Let's get started today.</h2>
        </div>
      </div>
    </div>
    <div class="row justify-content-center text-center">
      <div class="col-lg-8">
        <p>With us, there’s no obligation or pressure, and our in home consultation is free. We simply take a quick look
          at your house and can make you a fair cash offer on the spot. That's all there is to it.</p>

        <a href="contact-us" target="_blank" class="btn btn-dark px-5 py-3 mt-4" id="button-vary1">Contact us today!</a>
      </div>
    </div>
  </div>
</section>

<app-footer></app-footer>
