.first-section{
    padding: 100px 0;
}

.second-section{
    padding: 100px 0;
}
.third-section{
    background-color: #a81c1c;
    padding: 100px 0;
    color: #fff;
}



.hv-table {
    border-collapse: separate;
    max-width: 1200px;
    margin: auto
}

.hv-table.red thead {
    border: 0
}

.hv-table.red thead td {
    background: #a81c1c;
    color: #fff;
    text-transform: uppercase;
    padding: .8rem .625rem .8rem 1.625rem;
    
}

.hv-table.red thead td:first-child {
    border-top-left-radius: 12px
}

.hv-table.red thead td:last-child {
    border-top-right-radius: 12px
}

.hv-table.red tbody {
    border: 0
}

.hv-table.red tbody tr {
    background: #fff
}

.hv-table.red tbody tr:first-child {
    box-shadow: inset 0 5px 6px rgba(0,0,0,.1)
}

.hv-table.red tbody tr td {
    border-right: 1px solid #c7c7c7;
    border-bottom: 1px solid #c7c7c7;
    font-size: 1rem;
    padding: .4rem .625rem .4rem 1.625rem
}

.hv-table.red tbody tr td:first-child {
    border-left: 1px solid #c7c7c7
}

.hv-table.red tbody tr:last-child td:first-child {
    border-bottom-left-radius: 12px
}

.hv-table.red tbody tr:last-child td:last-child {
    border-bottom-right-radius: 12px
}
