<app-navbar></app-navbar>
<app-common-header heading="IBuyUglyHouses® vs Online Buyers" subheading="Know the difference."></app-common-header>

<section class="first-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-12">
        <h2>Can You Trust Sight Unseen Offers?</h2>
        <h3 class="mb-4">IBuyUglyHouses is the top among companies that buy property for cash.</h3>
        <p>Recently, several online home buyers have emerged that make attractive initial offers without even seeing
          your house. Not many homeowners realise upfront that hidden fees and commissions are not uncommon with online
          home buyers. How is that fair (or convenient) to you?</p>
        <p>When we buy a house, it always starts with a personal or virtual visit. After a quick consultation, we can
          make you a fair, no-obligation offer on the spot. Sellers have trusted our fair offers for almost 30 years.
          And, we’ll be there to walk you through every step of the sale.</p>
        <p>See the chart below on how IBuyUglyHouses compares to online home buyers.</p>

        <div class="mt-4 table-responsive">

          <table class="hv-table red table" style="width: 100%">
            <thead>
              <tr>
                <td style="width: 33.3333%">Look at the Difference</td>
                <td style="width: 33.3333%">Online Home Buyers</td>
                <td style="width: 33.3333%">IBuyUglyHouses<sup>®</sup></td>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td style="width: 33.3333%">Personalized Service<br role="presentation" data-uw-rm-sr=""></td>
                <td style="width: 33.3333%">No<br role="presentation" data-uw-rm-sr=""></td>
                <td style="width: 33.3333%">Yes<br role="presentation" data-uw-rm-sr=""></td>
              </tr>
              <tr>
                <td style="width: 33.3333%">Locally Based<br role="presentation" data-uw-rm-sr=""></td>
                <td style="width: 33.3333%">Rarely<br role="presentation" data-uw-rm-sr=""></td>
                <td style="width: 33.3333%">Yes<br role="presentation" data-uw-rm-sr=""></td>
              </tr>
              <tr>
                <td style="width: 33.3333%">Years in Business<br role="presentation" data-uw-rm-sr=""></td>
                <td style="width: 33.3333%">Varies; many are startups<br role="presentation" data-uw-rm-sr=""></td>
                <td style="width: 33.3333%">Since 2014<br role="presentation" data-uw-rm-sr=""></td>
              </tr>
              <tr>
                <td style="width: 33.3333%">Share a Defined Code Of Ethics<br role="presentation" data-uw-rm-sr=""></td>
                <td style="width: 33.3333%">No<br role="presentation" data-uw-rm-sr=""></td>
                <td style="width: 33.3333%">Yes<br role="presentation" data-uw-rm-sr=""></td>
              </tr>
              <tr>
                <td style="width: 33.3333%">Charges Hidden Fees At Closing<br role="presentation" data-uw-rm-sr=""></td>
                <td style="width: 33.3333%">Often<br role="presentation" data-uw-rm-sr=""></td>
                <td style="width: 33.3333%">Never<br role="presentation" data-uw-rm-sr=""></td>
              </tr>
              <tr>
                <td style="width: 33.3333%">Covers Typical Closing Costs<br role="presentation" data-uw-rm-sr=""></td>
                <td style="width: 33.3333%">Varies<br role="presentation" data-uw-rm-sr=""></td>
                <td style="width: 33.3333%">Yes<br role="presentation" data-uw-rm-sr=""></td>
              </tr>
            </tbody>
          </table>

          <!-- <img src="../../../assets/images/vs-online-retailor/Untitled (12).svg" width="100%" alt=""> -->
        </div>
      </div>
    </div>
  </div>
</section>

<section class="second-section bg-light">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-12">
        <h2>IBuyUglyHouses always sees your house before making an offer.</h2>
        <h3 class="mb-4">We Pay Cash For Houses</h3>
        <p>Let’s be honest: Would you make an offer on a house without seeing it? Online buyers do.</p>
        <p>Online buyers use computer algorithms to make unsolicited, "sight-unseen" offers. If you are interested, they
          eventually look at your house in person. It’s not unusual to be asked to make allowances for clean up and
          repair. Then, at closing, you may be surprised with hidden fees and closing costs that had not been mentioned
          before.</p>
        <p>You won’t encounter these types of issues with IBuyUglyHouses. We always visit your house in person first. Then
          we can make you a fair cash offer on your house, sometimes on the same day. Because we buy "as is," you’re
          never asked to pay for clean up or repair. There are no hidden fees, and we cover most typical closing costs.
        </p>
        <p>Online buyers may seem like the easy option at first, but you can’t count on their offer being fair.
          IBuyUglyHouses is Canada's#1 home buyer because we’ve purchased over 2,500 houses since 2014 the same way…in
          person with no surprises. When you want a fast, fair, all cash offer you can count on, call IBuyUglyHouses. We
          have the track record to prove it, just <a href="selling-your-house/reviews" target="_blank">read IBuyUglyHouses
            reviews.</a></p>
      </div>
    </div>
  </div>
</section>

<section class="third-section">
  <div class="container">
    <div class="row justify-content-center align-items-center text-center">
      <div class="col-lg-8 pb-5">
        <div class="header">
          <h2>Get An Offer You Can Trust.</h2>
        </div>
      </div>
    </div>
    <div class="row justify-content-center text-center">
      <div class="col-lg-8">
        <p>Let us take a quick look at your house and then we can make you an offer on the spot. And we don’t charge a
          commission and pay typical closing costs. That's all there is to it.</p>

        <a href="contact-us" target="_blank" class="btn btn-dark px-5 py-3 mt-4" id="button-vary1">Contact us today!</a>
      </div>
    </div>
  </div>
</section>

<app-footer></app-footer>
