<main>
   <div class="">

      <lib-ng-toast></lib-ng-toast>

      <router-outlet></router-outlet>

      <ngx-spinner type="ball-scale-multiple"></ngx-spinner>
   </div>
</main>

<!-- 
<div>
    <input type="checkbox" id="click">
   <label for="click">
      <i class="fab fa-facebook-messenger"></i>
      <i class="fas fa-times"></i>
   </label>
    
   <div class="wrapper">
      <div class="head-text">
         <p> <img src="https://miro.medium.com/v2/resize:fit:512/1*nZ9VwHTLxAfNCuCjYAkajg.png" width="15" alt=""> Chat with us - Online</p>
      </div>

      <div class="chat-box">
        <iframe src="https://mhbadvisor.netlify.app/" frameborder="0"></iframe>
      </div>
   </div>
</div> -->

<!-- 
<div id="hubspot-messages-iframe-container" class="widget-align-right"
   style="min-height: 96px;min-width: 100px;width: 420px;height: 674px;">
   <div class="hs-shadow-container active"></div><iframe
      src="https://mhbadvisor.netlify.app/"
      id="hubspot-conversations-iframe" role="region" aria-label="Chat Widget" allowfullscreen=""
      data-test-id="chat-widget-iframe"></iframe>
</div> -->