<app-navbar></app-navbar>

<app-common-header heading="We're with you every step of your home sale."
  subheading="Get personalised service when selling your house."></app-common-header>
<section class="first-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-12">
        <h2 class="mb-4">Selling Your House Fast and Easy...Done Together.</h2>

        <p>Selling a home can be a confusing and stressful ordeal when you are just looking to sell your house fast. If
          unexpected problems like tax liens or probate issues pop up, the stress and frustration can feel overwhelming.
        </p>
        <p>That’s what makes personal service in real estate so important. At IBuyUglyHouses, we’ve helped over 2,500
          homeowners through situations just like yours and more. We even expanded our services during the Covid-19
          pandemic to include virtual consultations, so we could continue serving you when you need. We understand your situation and, more importantly, we are going to guide you to your fast and
          easy selling solution. If any obstacles arise, we’re there to help you navigate them, in person. You’re not
          alone.</p>
        <p>We have a 95%* satisfaction rating with the homeowners that have said "YES" to our fair, all-cash offers.
          <a href="selling-your-house/reviews" target="_blank">Read more</a> in our seller’s own words on how our
          in-person service makes all the difference.

        </p>


        <!-- <div class="mt-4 text-center">
          <iframe class="responsive-iframe" src="https://www.youtube-nocookie.com/embed/6JbUg6AEEeU?controls=0"
            title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
            <p class="mt-4"><i>WHAS Louisville interviews Paul Cobb from IBuyUglyHouses Home Buyer about the current status of the local housing
              market and the role of IBuyUglyHouses. Paul goes over the safety precautions the Louisville team takes when
              inspecting homes to make a proper cash offer, and how IBuyUglyHouses Home Buyer is still buying homes in this uncertain
              market.</i>
          </p>
        </div> -->
      </div>
    </div>
  </div>
</section>


<app-reviews-carousal></app-reviews-carousal>

<section class="fourth-section bg-light">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-12">
        <h2>What Makes An In-Person Offer Better?</h2>
        <h3 class="mb-4">We Buy Houses Cash</h3>
        <p>Today, there are buyers who contact you and make a "sight unseen" cash offer for your house. Sure, it sounds
          convenient and easy. But there’s a problem: when they actually look at your house, the offer often comes down.
          They see problems. Structural issues. Costly repairs. Wear and tear. That’s when they lower their price or ask
          you to pay for repairs.</p>
        <p>At IBuyUglyHouses, we never make offers without seeing your house first. We visit you and your house in person.
          Or make a virtual visit. We can make a fair cash offer that you can trust.</p>
        <p><i>Remember: The in-person offer is the one that really counts. And that’s the only kind we make.</i></p>
      </div>
    </div>
  </div>
</section>

<section class="fifth-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-12">
        <h2>Your Buyer Is Closer Than You Think.</h2>
        <h3 class="mb-4">We Buy Homes Fast & For Cash</h3>
        <p>Your independent IBuyUglyHouses® property specialist is locally based, living and working near you. He or she
          knows your town and knows the local market. And, most of all, they are right down the road; ready to come over
          and help you out… in person.</p>
        <p>We pass each other in the grocery store. Our kids go to the same schools. We cheer for the same teams. We are
          neighbours and we will always treat you ethically, and will work hard to help resolve your situation. Plus,
          because our IBuyUglyHouses® representatives are local, they have the knowledge needed to make a fair, all cash
          offer <a href="selling-your-house" target="_blank">when you need to sell your home fast
            
          </a>. To meet your local IBuyUglyHouses® property specialist, <a href="contact-us" target="_blank">just fill out
            this short form</a>. A fast cash offer is a lot closer than you realise.</p>

      </div>
    </div>
  </div>
</section>

<section class="sixth-section bg-light">
  <div class="container">
    <div class="row g-4">
      <div class="col-lg-2 col-12">
        <img src="../../../assets/images/why-sell-to-us/experience-and-trust/quote.svg" width="100%" alt="">
      </div>
      <div class="col-lg-10 col-12">
        <h3 class="mb-4">There were a lot of companies I could have sold to, but no one would have treated my family as
          well as your whole office has. IBuyUglyHouses allowed me two extra days to remove my belongings with no problems.
          They understood moving is a rough experience.</h3>
        <h5>-Misty P., Hampton, VA</h5>
      </div>
    </div>
  </div>
</section>

<section class="seventh-section">
  <div class="container">
    <div class="row justify-content-center align-items-center text-center">
      <div class="col-lg-8 pb-5">
        <div class="header">
          <h2>We're all about honesty and transparency.</h2>
        </div>
      </div>
    </div>
    <div class="row justify-content-center text-center">
      <div class="col-lg-8">
        <div class="anchor-para">
          <p>Let’s get started for free today with the cash home buyer you can <a href="selling-your-house" target="_blank">trust to
              sell your home</a>. No obligation and no pressure. Just a quick visit to your house and we can then make
            you a fair cash offer on the spot!</p>

        </div>

        <a href="contact-us" class="btn btn-dark px-5 py-3 mt-4" id="button-vary1">Contact Us Today!</a>
      </div>
    </div>
  </div>
</section>

<app-footer></app-footer>
