<app-navbar></app-navbar>
<section class="intro">
  <div class="container">
    <div class="row justify-content-center align-items-center text-center">
      <div class="col-lg-8 col-md-8 col-12 ">
        <h1>Mobile Terms of Service</h1>
      </div>
    </div>
  </div>
</section>

<section class="first-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-12 col-12">

        <p>IBuyUglyHouses of Canada, Inc. (“IBuyUglyHouses”) provides the following terms and conditions ("Mobile Terms of
          Service") that will govern communications between you and IBuyUglyHouses and any resulting transactions, all of
          which are also subject to IBuyUglyHouses Terms of Use and Privacy Policies available on its websites and mobile
          apps, including michaelthehomebuyer.ca, ibuyuglyhouse.ca (collectively,
          “Websites”; and individually, "Website"). IBuyUglyHouses provides numerous services, including those referenced
          on the Websites (“Services”). These Mobile Terms of Service are in supplementation of those other policies
          and relate to features unique to communications on a mobile phone, particularly involving use of a five- or
          six-digit number referred to as a Short Code and short message services (“SMS”). </p>
        <p>BY COMMUNICATING WITH IBuyUglyHouses OR USING ANY WEBSITE, MOBILE APP, SERVICE, SHORT CODE OR SMS SERVICE OF
          IBuyUglyHouses, YOU AGREE TO ABIDE BY THESE MOBILE TERMS OF SERVICE BETWEEN YOU AND IBuyUglyHouses, WHICH INCLUDE
          THE REFERENCED WEBSITE TERMS OF USE AND PRIVACY POLICY (“AGREEMENT”). IF YOU DO NOT AGREE TO BE BOUND BY THIS
          AGREEMENT, YOU ARE NOT AUTHORIZED TO USE ANY IBuyUglyHouses WEBSITE, TO OBTAIN ANY SERVICES FROM IBuyUglyHouses OR
          TO COMMUNICATE WITH IBuyUglyHouses USING A SHORT CODE OR SHORT MESSAGE SERVICES. </p>
        <p>IBuyUglyHouses reserves the right, at its discretion, to revise the terms of this Agreement and/or change,
          suspend, discontinue or modify any aspect of any the use of a Short Code, a Website, Services or SMS services.
          Such modifications may include, without limitation, changes in content, in user priorities, and
          discontinuance of functional aspects of any Short Code or Website. Your continued use of any Short Code, SMS
          services, Website or Services after the posting of revisions to the Mobile Terms Of Use, or the incorporated
          Website Terms of Use or Privacy Policies, shall constitute your acceptance to be bound by the express terms
          of any such revisions.</p>
      </div>

      <div class="col-lg-6 col-md-12 col-12">

        <p>Below you will find customer support contact information; and complete opt-out instructions. </p>
        <p><u>IBuyUglyHouses Mobile Communication Program:</u></p>
        <ol>

          <li>
            <p>IBuyUglyHouses Mobile Communication Program is a communication platform that allows you to receive
              information from IBuyUglyHouses about the services offered by our independently owned and operated
              franchises. Messages can include appointment scheduling, information about the company, and information
              about our buying Process. </p>
          </li>
          <li>
            <p>You can cancel the SMS service and cease receiving mobile communications from IBuyUglyHouses at any time.
              Just text "STOP" to the short code. After you send the SMS message "STOP" to us, we will send you an SMS
              message to confirm that you have been unsubscribed. After this, you will no longer receive SMS messages
              from us. If you want to join again, just sign up as you did the first time and we will start sending SMS
              messages to you again. </p>
          </li>
          <li>
            <p>If you are experiencing issues with the messaging program, you can reply with the keyword HELP for more
              assistance, or you can get help directly by send an e-mail message to: <a href="mailto:info@michaelthehomebuyer.ca">info&#64;michaelthehomebuyer.ca</a> or
              calling us at <a href="tel:18889869883">1 (888) 986-9883</a>. </p>
          </li>
          <li>
            <p>Carriers are not liable for delayed or undelivered messages. </p>
          </li>
          <li>
            <p>As always, message and data rates may apply for any messages sent to you from us and to us from you.
              Message frequency varies. If you have any questions about your text plan or data plan, it is best to
              contact your wireless provider. </p>
          </li>
          <li>
            <p>If you have any questions regarding privacy, please read our privacy policy: <a href="privacy-policy"
                target="_blank">click here</a>. </p>
          </li>
        </ol>
      </div>
    </div>
  </div>
</section>

<app-footer></app-footer>
