
h1,
h3 {
    color: #fff;
    /* font-family: 'Oswald', serif; */
    /* opacity: 1;
    font-family: 'Merriweather', serif; */
}


.common-header {
    width: 100%;
    height: 580px;
    animation: changeBackgroundImage 50s infinite;
    display: flex;
    align-items: center;
    text-align: center;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
  
  @keyframes changeBackgroundImage {
    0% {
      background-image: linear-gradient(rgba(0, 0, 0, 0.29),rgba(0, 0, 0, 0.29)), url('../../../assets/home/common-header/hv_hero_door_3.jpg');
    }
    25% {
      background-image: linear-gradient(rgba(0, 0, 0, 0.29),rgba(0, 0, 0, 0.29)), url('../../../assets/home/common-header/hv_hero_door_4.jpg');
    }
    50% {
      background-image: linear-gradient(rgba(0, 0, 0, 0.29),rgba(0, 0, 0, 0.29)), url('../../../assets/home/common-header/hv_hero_door_5.jpg');
    }
    75% {
      background-image: linear-gradient(rgba(0, 0, 0, 0.29),rgba(0, 0, 0, 0.29)), url('../../../assets/home/common-header/hv_hero_door_6.jpg');
    }
    100% {
      background-image: linear-gradient(rgba(0, 0, 0, 0.29),rgba(0, 0, 0, 0.29)), url('../../../assets/home/common-header/hv_hero_door_7.jpg');
    }
  }

 
  .form-control {
height: 100%;
  }


