<app-navbar></app-navbar>
<section class="first-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-12">
        <h1 class="my-4">Terms of Use</h1>

        <p>BY USING ANY WEBSITE, MOBILE APP OR SERVICE OF IBuyUglyHouses OF CANADA, INC. ("IBuyUglyHouses") YOU AGREE TO
          ABIDE BY THESE TERMS OF USE BETWEEN YOU AND IBuyUglyHouses, WHICH INCLUDE THE REFERENCED PRIVACY POLICY
          ("AGREEMENT"). IF YOU DO NOT AGREE TO BE BOUND BY THIS AGREEMENT, YOU ARE NOT AUTHORIZED TO USE ANY
          IBuyUglyHouses WEBSITE OR TO OBTAIN ANY SERVICES FROM IBuyUglyHouses.</p>
        <p>The IBuyUglyHouses websites and mobile apps include IBuyUglyHouses.com, WeBuyUglyHouses.com, and
          IBuyUglyHousesFranchise.com (collectively, "Websites"; and individually, "Website"). IBuyUglyHouses provides
          numerous services, including as referenced on the Websites ("Services").</p>

        <p>IBuyUglyHouses reserves the right, at its discretion, to revise the terms of this Agreement and/or change,
          suspend, discontinue or modify any aspect of any Website. Such modifications may include, without limitation,
          changes in content, in user priorities, and discontinuance of functional aspects of any Website. Your
          continued use of any Website after the posting of revisions to the Terms Of Use shall constitute your
          acceptance to be bound by the express terms of any such revisions.</p>

        <ol>
          <li>
            <p>CERTIFICATION OF USER.</p>
            <p>By using or attempting to use this Website, you certify to IBuyUglyHouses that you are a resident of the
              United States or otherwise authorized to conduct business in the United States, are at least 18 years of
              age or older and have the legal capacity to enter into this Agreement.</p>
          </li>

          <li>
            <p>CONTENT AND REGISTRATION.</p>
            <p>2.1 The Website content shall mean all areas and aspects of the Website and Services including, without
              limitation, text, data, photos, graphics and/or video or any information whatsoever obtained through the
              Website (collectively referred to herein as "Information"), IBuyUglyHouses’ computers or network and any
              subscription or software, product, service, or information provided by IBuyUglyHouses.</p>
            <p>2.2 Vendor Content. IBuyUglyHouses has entered into contractual relationships with certain vendors,
              sponsors, and advertisers of products or services ("Vendors"), pursuant to which IBuyUglyHouses may link to
              or display information, advertisements, discounts, products, goods, or services offered by the Vendors
              ("Vendor Content"). IBuyUglyHouses does not guarantee the availability or accuracy of any such Vendor Content
              or offers, nor does it endorse, guarantee nor insure any Vendor products or services.</p>
            <p>2.3 IBuyUglyHouses shall not be held liable, directly or indirectly, for any loss or damage caused by your
              use of: (a) any external site linked to the Service, (b) Vendor Information, or (c) Vendor products or
              services. Statements made on the Service Area concerning the products or services of IBuyUglyHouses do not
              constitute an offer, but are merely solicitations of an offer.</p>

            <p>2.4 Registration. You may browse and view certain content on the Website without registering, but as a
              condition to using certain other aspects of the Website or accessing certain services, you may be required
              to register and select a user identification and password. You agree to maintain the confidentiality of
              such registration information, be the sole user of such registration and use your registration solely to
              access the Website and to obtain Services. IBuyUglyHouses reserves the right to monitor your use of the
              registration and to discontinue you it at any time in IBuyUglyHouses sole discretion. If you believe that
              your registration has been compromised, you must promptly change your registration information and notify
              us immediately.</p>
          </li>
          <li>
            <p>LIMITATIONS ON USE AND USER SUBMISSIONS.</p>

            <p>3.1 Copyright, Patent and Trademark Notice. All content of the Website provided by IBuyUglyHouses,
              including, but not limited to, all text, photos, graphics, audio, software, webpage layouts or
              configurations, presentations in any format and/or video is copyrighted by IBuyUglyHouses of Canada, Inc.,
              or its affiliates or subsidiaries. Copyright © 2013-2019 IBuyUglyHouses of Canada, Inc. All rights reserved.
            </p>
            <p>No portion of the Content or other materials may be directly or indirectly copied, published, reproduced,
              modified, performed, displayed, sold, transmitted, published, broadcast, rewritten for broadcast or
              publication or redistributed in any medium, whether now known or hereafter created. The foregoing
              prohibition includes, but is not limited to "screen scraping" or "database scraping" to obtain lists of
              users or other Information. Nor may any portion of the Information or other materials be stored in a
              computer or distributed over any network, except that you may download or print one copy of pages strictly
              for personal and non-commercial use; however, any print out of any page of the Website or portion thereof,
              must include IBuyUglyHouses’ copyright notice.</p>
            <p>IBuyUglyHouses, and its associated logos, page headers, custom graphics, buttons, and other icons are
              service marks, trademarks, registered service marks, registered trademarks, and/or trade dress of
              IBuyUglyHouses. All other content product names and company logos are trademarks of their respective owners.
              Neither these materials, nor any portion thereof, may be stored in a computer except as reasonably
              necessary for personal and non-commercial use; however, any print out of any page of the Website or
              portion thereof, must include IBuyUglyHouses’ copyright notice and/or trademark registration notice as
              appropriate.</p>
            <p>3.2 Notice of Copyright Infringement. IBuyUglyHouses respects the copyrights of others. IBuyUglyHouses reserves
              the right, but not the obligation, to terminate your license to use the Services if it determines in its
              sole and absolute discretion that you are involved in infringing activity, including alleged acts of
              first-time or repeat infringement, regardless of whether the material or activity is ultimately determined
              to be infringing. IBuyUglyHouses has implemented procedures for receiving written notification of claimed
              infringements. If you believe that your copyrighted work has been reproduced on the Website in a way that
              constitutes copyright infringement you may notify our designated copyright agent, Charles E. Phipps, Locke
              Lord LLP, J.P. Morgan Chase Tower, 2200 Ross Avenue, Suite 2800, Dallas, Texas 75201, or by e-mail at
              cphipps@lockelord.com.</p>
            <p>3.3. Restricted Use. You agree to use the Service Area and Information for lawful purposes only. You
              agree not to post or transmit any information through the Service Area which: (a) infringes any patent,
              trademark or copyright rights of others or violates their privacy or publicity rights, (b) is unlawful,
              threatening, abusive, defamatory, libelous, vulgar, obscene, profane, indecent or otherwise objectionable,
              or (c) is protected by patent, copyright, trademark or other proprietary right without the express
              permission of the owner of such right. You shall be solely liable for any damages resulting from any
              infringement of patent, copyright, trademark or other proprietary rights, or any other harm resulting from
              your use of the Service.</p>
            <p>3.4. Your Submission of Messages. You hereby grant to IBuyUglyHouses a worldwide, royalty-free, perpetual,
              irrevocable, non-exclusive right and license to use, reproduce, modify, adapt, publish, translate, create
              derivative works from, distribute, perform, display and use for any purpose all messages or other
              materials posted by you on the Service or any e-mail sent by you to IBuyUglyHouses (in whole or in part) and
              to incorporate any such messages or other materials or e-mails in any form, into other media or technology
              whether now known or hereafter developed.</p>
            <p>3.5. Public messages. All electronic forums made available to users of the Service are the sole property
              of IBuyUglyHouses and are not a public forum. You understand and acknowledge that all information, data,
              files, software, music, sound, photographs, graphics, video, messages or other materials posted by any
              person or entity other than IBuyUglyHouses ("Third-Party Content"), whether publicly posted or privately
              transmitted, are the sole responsibility of the person from which such Third-Party Content originated. You
              assume total liability for all Third-Party Content that you upload, post, email or otherwise transmit via
              the Service. IBuyUglyHouses assumes no liability for any such Third-Party Content. You agree not to use the
              Service to:</p>
            <ol>
              <li>
                upload, post, e-mail or otherwise transmit any Third-Party Content that is unlawful, harmful,
                threatening, abusive, harassing, tortious, defamatory, vulgar, obscene, libelous, invasive of another’s
                privacy, or hateful, or is racially, ethnically or otherwise objectionable;
              </li>
              <li>
                harm minors in any way;
              </li>
              <li>
                impersonate any person or entity, including, but not limited to, an official or representative of
                IBuyUglyHouses, or falsely state or otherwise misrepresent your affiliation with a person or entity;
              </li>
              <li>
                forge headers or otherwise manipulate identifiers to disguise the origin of any Content transmitted
                through the Service;
              </li>
              <li>
                upload, post, e-mail or otherwise transmit any Third-Party Content that you do not have a right to
                transmit under any law or under contractual or fiduciary relationships (such as inside information,
                proprietary and confidential information learned or disclosed as part of employment relationships or
                under nondisclosure agreements);
              </li>
              <li>
                upload, post, e-mail or otherwise transmit any Third-Party Content that infringes any patent, trademark,
                trade secret, copyright or other proprietary rights of any party;
              </li>
              <li>
                upload, post, e-mail or otherwise transmit any unsolicited or unauthorized advertising, promotional
                materials, "junk mail," "spam," "chain letters," "pyramid schemes," or any other form of solicitation;
              </li>
              <li>
                upload, post, e-mail or otherwise transmit any material that contains software viruses or any other
                computer code, files or programs designed to interrupt, destroy or limit the functionality of any
                computer software or hardware or telecommunications equipment or network;
              </li>
              <li>
                disrupt the normal flow of dialogue, cause a screen to "scroll" faster than other users of the Service
                are able to type, or otherwise act in a manner that negatively affects other users’ ability to engage in
                real time exchanges;
              </li>
              <li>
                interfere with or disrupt the Service or servers or networks connected to the Service, or disobey any
                requirements, procedures, policies or regulations of networks connected to the Service;
              </li>
              <li>
                intentionally or unintentionally violate any applicable local, state, national or international law,
                including, but not limited to, regulations promulgated by the U.S. Securities and Exchange Commission,
                any rules of any national or other securities exchange, including, without limitation, the New York
                Stock Exchange, the Canadian Stock Exchange or the NASDAQ, and any regulations having the force of law;
              </li>
              <li>
                "stalk" or otherwise harass another; or
              </li>
              <li>
                collect or store personal data about other users.
              </li>
            </ol>
            <p>You acknowledge that IBuyUglyHouses does not pre-screen Third-Party Content, but that IBuyUglyHouses and its
              designees shall have the right (but not the obligation) in their sole discretion to refuse or move any
              Third-Party Content that is available via the Service. Without limiting the foregoing, IBuyUglyHouses and its
              designees shall have the right to remove any Third-Party Content that violates this Agreement or is
              otherwise objectionable. You agree that you must evaluate, and bear all risks associated with, the use of
              any Third-Party Content, including any reliance on the accuracy, completeness, or usefulness of such
              Third-Party Content.</p>
            <p>You acknowledge and agree that IBuyUglyHouses may preserve Third-Party Content and may also disclose
              Third-Party Content if required to do so by law or in the good faith belief that such preservation or
              disclosure is reasonably necessary to: (a) comply with legal process; (b) enforce this Agreement; (c)
              respond to claims that any Third-Party Content violates the rights of other third-parties; or (d) protect
              the rights, property, or personal safety of IBuyUglyHouses, its users, or the public.</p>
            <p>3.6. Linking. Without the prior written consent of IBuyUglyHouses, you may not use any of IBuyUglyHouses’
              proprietary logos, marks, or other distinctive graphics, video, or audio material in your links. You may
              not link to the Website or to any page thereof or engage in the practice of "deep linking" in any manner
              reasonably likely to: (a) imply affiliation with or endorsement or sponsorship of or by IBuyUglyHouses; (b)
              cause confusion, mistake, or deception; (c) dilute IBuyUglyHouses’ trademarks or service marks; (d) otherwise
              violate state or federal law; or (e) constitute improper disparagement or disclosure concerning
              IBuyUglyHouses or any of its respective affiliates, or their respective officers, directors, agents,
              franchises, or Vendors. You may not frame or otherwise incorporate into another Website any of the
              Information or other materials on this Website without the prior written consent of IBuyUglyHouses.</p>
          </li>
          <li>
            ACCESS AND DELAYS IN SERVICES.
            <p>
              IBuyUglyHouses, its affiliates, subsidiaries, and Vendors shall have no responsibility to provide you access
              to the Website. Further, IBuyUglyHouses, its affiliates, subsidiaries, and Vendors shall not be liable to you
              for any loss or liability resulting, directly or indirectly, from delays, inaccuracies, errors, omissions,
              or interruptions of the Service for any reason, including, without limitation, due to electronic or
              mechanical equipment failures, telephone interconnect problems, defects, weather, strikes, walkouts, fire,
              acts of God, riots, armed conflicts, acts of war, acts of terrorism, or to other like causes.
            </p>
          </li>
          <li>
            MONITORING BY IBuyUglyHouses.
            <p>
              You acknowledge that IBuyUglyHouses reserves the right to, and may from time to time, monitor for all lawful
              purposes any and all Third-Party Content transmitted or received through the Service. During monitoring,
              information may be examined, recorded, copied, and used for authorized purposes. All Third-Party Content,
              including personal information, placed on or sent over the Service may be monitored. Use of the Service,
              authorized or unauthorized, constitutes consent to such monitoring and to the other terms of this
              Agreement.
            </p>
          </li>
          <li>
            <p> REPRESENTATIONS, WARRANTIES AND LIMITATION OF LIABILITY.</p>
            <p> 6.1. General Disclaimer and Limited Warranty. You acknowledge that certain aspects of the Information
              and/or Vendor Information and links provided through the Website are compiled from sources which may be
              beyond the control of IBuyUglyHouses. Though such Information and links are recognized by the parties to be
              generally reliable, the parties acknowledge that inaccuracies may occur. IBuyUglyHouses, its licensors and
              Vendors do not warrant the accuracy or suitability of any such Information. Neither IBuyUglyHouses nor its
              licensors or Vendors represent or endorse the accuracy or reliability of the Information distributed
              through the Service.
            </p>
            <p>FOR THIS REASON, YOU ACKNOWLEDGE THAT THE WEBSITE IS PROVIDED TO YOU ON AN "AS IS WITH ALL FAULTS BASIS."
              IBuyUglyHouses AND ITS LICENSORS AND VENDORS EXPRESSLY DISCLAIM ANY AND ALL WARRANTIES, WHETHER EXPRESS,
              ORAL, IMPLIED, STATUTORY OR OTHERWISE, INCLUDING ANY IMPLIED WARRANTY OF MERCHANTABILITY, FITNESS FOR A
              PARTICULAR PURPOSE, TITLE, NON-INFRINGEMENT, OR ANY WARRANTIES ARISING BY VIRTUE OF CUSTOM OF TRADE OR
              COURSE OF DEALING. FURTHER, IBuyUglyHouses AND ITS LICENSORS AND VENDORS NEITHER REPRESENT NOR WARRANT THAT
              THE WEBSITE WILL MEET YOUR REQUIREMENTS OR IS SUITABLE FOR YOUR NEEDS OR WILL ACHIEVE ANY DESIRED RESULT.
            </p>
            <p>6.2. You assume all risk of errors and/or omissions in the Website, including the transmission or
              translation of data. You assume full responsibility for implementing sufficient procedures and checks to
              satisfy your requirements for the accuracy and suitability of the Website, including the Information, and
              for maintaining any means which you may require for the reconstruction of lost data or subsequent
              manipulations or analyses of the Information provided under this Agreement.

            </p>
            <p>6.3. Viruses. YOU ACKNOWLEDGE AND AGREE THAT IBuyUglyHouses USES REASONABLE EFFORTS TO ASSURE THAT NO
              VIRUSES OR PROGRAMS WITH SIMILAR FUNCTIONS OPERATE ON, OR ARE PASSED THROUGH, THE WEBSITE OR THE
              INFORMATION. HOWEVER, YOU HEREBY ASSUME ALL RESPONSIBILITY (AND THEREBY HOLD IBuyUglyHouses HARMLESS), BY
              WHATEVER MEANS YOU DEEM MOST APPROPRIATE FOR YOUR NEEDS, FOR DETECTING AND ERADICATING ANY VIRUS OR
              PROGRAM WITH A SIMILAR FUNCTION.</p>
            <p>6.4. LIMITATION OF LIABILITY. YOU AGREE THAT IBuyUglyHouses AND ITS AFFILIATES, SUBSIDIARIES, AND VENDORS
              SHALL NOT IN ANY EVENT BE LIABLE FOR ANY SPECIAL, INCIDENTAL OR CONSEQUENTIAL DAMAGES ARISING OUT OF THE
              USE OR INABILITY TO USE THE SERVICE FOR ANY PURPOSE WHATSOEVER. IF THE ABOVE LIMITATIONS OF LIABILITIES
              SHOULD FAIL IN THEIR ESSENTIAL PURPOSE FOR ANY REASON, SUCH LIABILITY IS AND SHALL BE LIMITED TO A SUM
              EQUAL IN AMOUNT TO TEN (10%) PERCENT OF THE SUMS PAID TO IBuyUglyHouses BY YOU UNDER THE TERMS OF THIS
              AGREEMENT OR $100.00, WHICHEVER IS GREATER, AS LIQUIDATED DAMAGES AND NOT AS A PENALTY EVEN IF IBuyUglyHouses
              OR ITS AFFILIATES HAVE BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES. THIS LIABILITY, IF ANY, SHALL BE
              COMPLETE AND EXCLUSIVE. THE PROVISIONS CONTAINED IN THIS SECTION 6 SHALL SURVIVE TERMINATION OF THIS
              AGREEMENT.</p>
            <p>6.5. FTC NOTICE. SOME STATES DO NOT ALLOW LIMITATIONS ON HOW LONG AN IMPLIED WARRANTY LASTS, SO THE ABOVE
              LIMITATION MAY NOT APPLY TO YOU. SOME STATES DO NOT ALLOW THE EXCLUSION OR LIMITATION OF INCIDENTAL OR
              CONSEQUENTIAL DAMAGES, SO THE ABOVE LIMITATION OR EXCLUSION MAY NOT APPLY TO YOU. THIS WARRANTY GIVES YOU
              SPECIFIC LEGAL RIGHTS, AND YOU MAY ALSO HAVE OTHER RIGHTS WHICH VARY FROM STATE TO STATE.</p>
          </li>
          <li>
            <p>INDEMNIFICATION</p>

            <p>YOU SHALL RELEASE, DISCHARGE, AND RELINQUISH, DEFEND INDEMNIFY AND HOLD HARMLESS IBuyUglyHouses AND ITS
              AFFILIATES, SUBSIDIARIES, AND VENDORS, AND EACH OF THEIR MEMBERS, SHAREHOLDERS, DIRECTORS, EMPLOYEES,
              AGENTS, REPRESENTATIVES, VENDORS, AND CONTRACTORS OF WHATEVER TIER (COLLECTIVELY, THE INDEMNITEES) FROM
              AND AGAINST ALL LOSS, CLAIMS, DEMANDS AND CAUSES OF ACTION OF WHATEVER KIND OR CHARACTER, INCLUDING
              WITHOUT LIMITATION COSTS, ATTORNEYS’ FEES AND EXPENSES INCURRED IN CONNECTION WITH ANY CLAIM BROUGHT BY
              ANY PERSON(S) OR ENTITY(IES) ARISING FROM, IN CONNECTION WITH, OR RELATING TO, YOUR ACCESS AND USE OF THE
              WEBSITE, INCLUDING YOUR USE OF THE INFORMATION OBTAINED THROUGH THE WEBSITE. THE OBLIGATIONS TO RELEASE,
              DEFEND AND TO INDEMNIFY CONTAINED IN THIS SECTION SHALL APPLY EVEN IF CAUSED, IN WHOLE OR IN PART, BY THE
              JOINT, SOLE, GROSS OR CONCURRENT NEGLIGENCE, STRICT LIABILITY, CONTRACTUAL LIABILITIES OF THIRD PARTIES,
              OR OTHER FAULT, WHETHER PASSIVE OR ACTIVE, OF ANY PERSON OR ENTITY, INCLUDING BUT NOT LIMITED TO THE
              INDEMNITEES, JOINTLY OR SEVERALLY. YOU SHALL COOPERATE AS FULLY AS REASONABLY REQUIRED IN THE DEFENSE OF
              ANY SUCH CLAIM.</p>
          </li>
          <li>
            <p>PRIVACY POLICIES.</p>

            <p>These Terms of Use include our Privacy Policy as contained on our website, which is incorporated fully
              herein.</p>
          </li>
          <li>
            <p>9. UNSOLICITED MARKETING.</p>

            <p>9.1. Unsolicited Marketing. IBuyUglyHouses supports responsible e-commerce. IBuyUglyHouses does not authorize
              anyone to use the Service to broadcast, distribute, transmit or retransmit unsolicited commercial,
              non-commercial, bulk, or junk electronic mail, including email ("SPAM").</p>
            <p>9.2. Electronic Direct Marketing Programs.

              IBuyUglyHouses may develop and participate in electronic direct marketing to users of the Website who elect
              to receive electronic mail of specific interest to them. In keeping with this Agreement, IBuyUglyHouses does
              not forward the names and addresses (electronic or otherwise) to third parties. Advertisers who
              participate in IBuyUglyHouses’ electronic direct marketing programs identify the category of users who would
              most likely be interested in their goods and services. IBuyUglyHouses then forwards the advertisements to
              users who have elected to receive that category of electronic mail. Users may elect to not receive similar
              electronic mail by requesting that their e-mail address be removed from the mailing list by selecting the
              appropriate option included with each e-mail advertisement sent by IBuyUglyHouses. In addition, users may
              elect to be removed from such lists at any time by sending a message to the System administrator at
              webmaster@homevestors.com.</p>
            <p>9.3. Reporting SPAM. Users who receive SPAM or any threatening or offensive e-mail through the Services
              may report it to IBuyUglyHouses by forwarding the unedited message with the full message header to
              webmaster@homevestors.com.</p>
            <p>9.4. Reservation of Rights. IBuyUglyHouses reserves the right to take all legal or technical steps that it
              deems necessary to prevent the broadcast, distribution, transmission, or retransmission over the Service
              of SPAM, junk e-mail, threatening or offensive e-mail, or e-mail otherwise determined by IBuyUglyHouses, in
              its sole discretion, to be objectionable. IBuyUglyHouses reserves the right to suspend or terminate any
              person or entity’s use of or access to the Service if it determines, in its sole and absolute discretion,
              that such person has used or intends to use the Service in violation of this policy. A failure of
              IBuyUglyHouses to exercise any right provided for herein shall not be deemed to be a waiver of such right.
            </p>
          </li>


          <li>
            <p>MISCELLANEOUS</p>
            <p>10.1. Governing Law; Limitations; Venue.

              The laws of the State of Texas, excluding any rule or principle that would refer to and apply the
              substantive law of another state or jurisdiction, shall govern this Agreement. To the extent allowed by
              applicable law, any claims or causes of action arising from or relating to your access and use of the
              Service as contemplated by this Agreement must be instituted within two (2) years from the date upon which
              such claim or cause arose. Further, any such claim or cause of action shall be brought EXCLUSIVELY in the
              state or federal courts located in Dallas County, Texas, and you agree to submit to the exclusive personal
              jurisdiction of such courts and hereby appoint the Secretary of State of Texas as your agent for service
              of process. You agree to waive any objection that the state or federal courts of Dallas County, Texas, are
              an inconvenient forum.</p>
            <p>10.2. Assignments. You may not assign any of your rights, obligations, privileges, or performance
              hereunder without the prior written consent of IBuyUglyHouses. Any assignment other than as provided for in
              this Section 10.2 shall be null and void.</p>
            <p>10.3. Severability. If any provision of this Agreement is found to be unlawful or unenforceable in any
              respect, the court shall reform such provision so as to render it enforceable (or, if it is not possible
              to reform such provision so as to make it enforceable, then delete such provision); and, as so reformed or
              modified, fully enforce this Agreement.</p>
            <p>10.4 Connectivity Charges. You understand that your access to the Website and use of the Services may
              incur third party connectivity charges. You understand that you are responsibly for any such charges that
              your use incurs, including from your cell phone or internet service provider, including fees related to
              text messaging and data fees.</p>
            <p>10.5. Termination. IBuyUglyHouses may terminate or suspend your use of the Website for any reason.
              Termination or cancellation of your use of the Website shall not affect any right or relief to which
              IBuyUglyHouses may be entitled, at law or in equity. Upon termination of this Agreement, all rights granted
              to you will terminate and revert to IBuyUglyHouses.</p>
            <p>10.6. Notice. Official correspondence must be sent via postal mail to: IBuyUglyHouses of Canada, Inc. 6500
              Greenville Avenue, Suite 400 Dallas, TX 75206.</p>
            <p>10.7 Notice Regarding Electronic Commercial Service for California Users. Pursuant to California Civil
              Code Section 1789.3, California Site users are entitled to the following specific consumer rights notice:
              The Complaint Assistance Unit of the Division of consumer Services of the California Department of
              consumer Affairs may be contacted in writing at 1625 North Market Blvd., Sacramento, CA 95834, or by
              telephone at 916-445-1254 or 800-952-5210.</p>
            <p>10.8 Entire Agreement. This Agreement is complete and effective at the time you begin use of the Service.
              This Agreement constitutes the entire agreement between the parties, and no other agreement, written or
              oral, exists between you and IBuyUglyHouses. In the event that any inconsistencies exist between this
              Agreement and any future published terms or understanding, the last published Agreement or terms of use
              shall control.</p>
          </li>
        </ol>
        <div class="mt-5">

          <h5>ANY RIGHTS NOT EXPRESSLY GRANTED HEREIN ARE RESERVED BY IBuyUglyHouses OF CANADA, INC.</h5>
          <h5>© 2023 IBuyUglyHouses of Canada, Inc. All rights reserved.</h5>
        </div>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
