
<section class="contact-info">
    <div class="container">
        <div class="row d-flex justify-content-center align-items-center responsive-text ">
            <div class="col-lg-2">
                <img src="https://www.webuyuglyhouses.com/getmedia/e394bb8b-b0ae-4d0a-8d20-694ae6edf80b/WBUH-Logo-Horizontal.svg?ext=.svg"
                    width="100%" alt="">
            </div>
            <div class="col-lg-3">

            </div>
            <div class="col-lg-2">
                <h4  class="fw-bold"> <img src="https://www.webuyuglyhouses.com/images/phone.svg" width="18" alt=""> 866-399-3920 </h4>

            </div>
            <div class="col-lg-1">
                <h5 class="fw-bold">or</h5>
            </div>
            <div class="col-lg-3 d-flex justify-content-center align-items-center">

                <a class="btn btn-success p-3" href="">Request a consultation</a>
            </div>
        </div>
    </div>
</section>
