
<section class="contact-info">
    <div class="container">
        <div class="row d-flex justify-content-center align-items-center responsive-text ">
            <div class="col-lg-2">
                <img src="../../../assets/logo_ibuyuglyhouse.svg"
                    width="250" alt="">
            </div>
            <div class="col-lg-2">

            </div>
            <div class="col-lg-3">
                <h4  class="fw-bold"> <img src="../../../assets/phone.svg" width="18" alt="" href="tel:18889869883"> 888-986-9883 </h4>

            </div>
            <div class="col-lg-1">
                <h5 class="fw-bold">or</h5>
            </div>
            <div class="col-lg-3 d-flex justify-content-center align-items-center">

                <a class="btn btn-success p-3" href="contact-us">Request a consultation</a>
            </div>
        </div>
    </div>
</section>
